cititechdNew2024Jan/force-app/main/default/flows/Account_flow_second.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Account_Name_Email_Alert</name>
        <label>Send Account Name Email Alert</label>
        <locationX>50</locationX>
        <locationY>911</locationY>
        <actionName>Account.Account_Name_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Active_Customer_Status_Lock_Account</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>assign_externalid</name>
        <label>assign externalid</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>externalid</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!$Record.Name}+&apos;-&apos;+{!$Record.Id}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_external_id</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Account_external_id_is_null</name>
        <label>Account external-id is null</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Account_Name_Changes</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.External_ID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_externalid</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Account_Name_Changes</name>
        <label>Account Name Changes</label>
        <locationX>182</locationX>
        <locationY>791</locationY>
        <defaultConnector>
            <targetReference>Active_Customer_Status_Lock_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Account_Name_changed</name>
            <conditionLogic>1 AND (2 OR 3 OR 4 OR 5 OR 6 OR 7 OR 8 OR 9 OR 10 OR 11 OR 12 OR 13) AND 14</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>001d000000ABh0QAAT</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>001d000000B5Mm4AAF</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>001d000000ABh0lAAD</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>001d000000ABh0nAAD</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>001d000000B5khRAAR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>001d0000010b5JXAAY</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>001d000000ABh1RAAT</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>001d000000CaDZtAAN</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>001d000000B5MuhAAF</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>001d000000ABh0PAAT</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0121L000001QT84QAG</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ParentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active Customer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Account_Name_Email_Alert</targetReference>
            </connector>
            <label>Account Name changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Active_Customer_Status_Lock_Account</name>
        <label>Active Customer Status... Lock Account</label>
        <locationX>182</locationX>
        <locationY>1127</locationY>
        <defaultConnector>
            <targetReference>orginal_lead_source</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Account_status_changed_true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active Customer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account_Name_Locked__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>account_name_locked</targetReference>
            </connector>
            <label>Account status changed true</label>
        </rules>
    </decisions>
    <decisions>
        <name>Inactive_Customer_Status_Unlock_Account</name>
        <label>Inactive Customer Status...Unlock Account</label>
        <locationX>182</locationX>
        <locationY>1799</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>acc_status_changed_true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Active Customer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>account_name_is_false</targetReference>
            </connector>
            <label>acc status changed true</label>
        </rules>
    </decisions>
    <decisions>
        <name>orginal_lead_source</name>
        <label>orginal lead source</label>
        <locationX>182</locationX>
        <locationY>1463</locationY>
        <defaultConnector>
            <targetReference>Inactive_Customer_Status_Unlock_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>orginal_lead_source_is_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Original_Lead_Source__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_orginal_lead_source</targetReference>
            </connector>
            <label>orginal lead source is null</label>
        </rules>
    </decisions>
    <interviewLabel>Account flow second {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account flow second</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>account_name_is_false</name>
        <label>account name is false</label>
        <locationX>50</locationX>
        <locationY>1919</locationY>
        <inputAssignments>
            <field>Account_Name_Locked__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>account_name_locked</name>
        <label>account name locked</label>
        <locationX>50</locationX>
        <locationY>1247</locationY>
        <connector>
            <targetReference>orginal_lead_source</targetReference>
        </connector>
        <inputAssignments>
            <field>Account_Name_Locked__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_external_id</name>
        <label>update external id</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>Account_Name_Changes</targetReference>
        </connector>
        <inputAssignments>
            <field>External_ID__c</field>
            <value>
                <elementReference>externalid</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_orginal_lead_source</name>
        <label>update orginal lead source</label>
        <locationX>50</locationX>
        <locationY>1583</locationY>
        <connector>
            <targetReference>Inactive_Customer_Status_Unlock_Account</targetReference>
        </connector>
        <inputAssignments>
            <field>Original_Lead_Source__c</field>
            <value>
                <elementReference>$Record.AccountSource</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <startElementReference>Account_external_id_is_null</startElementReference>
    <status>Active</status>
    <variables>
        <name>externalid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
