cititechdNew2024Jan/force-app/main/default/flows/Flow_Event_Name_Duplicate_Check_Field_Opp_to_Order_Logic.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Singular_GCS_Package_Opp_to_Order_Conversion</name>
        <label>Singular GCS Package Opp to Order Conversion</label>
        <locationX>710</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Singular_GCS_Package_to_Order</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Dhruvsoft__convert_from_opportunity__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Pricebook2.Name</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>GCS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Pricebook2.Name</leftValueReference>
                <operator>EndsWith</operator>
                <rightValue>
                    <stringValue>Package</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Order_Record_Type_to_No_Contract</targetReference>
            </connector>
            <label>Singular GCS Package to Order</label>
        </rules>
        <rules>
            <name>Four_Pack_GCS_Package_Opp_to_Order_Conversion</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Dhruvsoft__convert_from_opportunity__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Pricebook2.Name</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>GCS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Pricebook2.Name</leftValueReference>
                <operator>EndsWith</operator>
                <rightValue>
                    <stringValue>Four-Pack</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Order_Record_Type_to_No_Contract1</targetReference>
            </connector>
            <label>Four-Pack GCS Package Opp to Order Conversion</label>
        </rules>
        <rules>
            <name>Opportunity_to_Order_Conversion</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Dhruvsoft__convert_from_opportunity__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Pricebook2.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Price Book</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity.Dhruvsoft__IsConverted1__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Order_Record_Type_to_No_Contract_Required_and_Venue</targetReference>
            </connector>
            <label>Opportunity to Order Conversion</label>
        </rules>
        <rules>
            <name>Update_Order_Amount_Opportunity_Institutional_Business_to_0</name>
            <conditionLogic>1 OR 4 OR 5 OR (2 AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Institutional Business</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity.Owner.LastName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Garrigan</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity.Channel_Agency_Referral__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0128X000001lFNFQA2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Institutional Business</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Order_Amount_Opportunity</targetReference>
            </connector>
            <label>Update &quot;Order Amount (Opportunity)&quot; Institutional Business to $0</label>
        </rules>
        <rules>
            <name>Update_Cloned_Four_Pack_Orders</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Four_Pack_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Participate</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Four_Pack_Order_from_Opportunity__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CreatedBy.FirstName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Raju</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Update_Four_Pack_Status</targetReference>
            </connector>
            <label>Update Cloned &apos;Four Pack&apos; Orders</label>
        </rules>
    </decisions>
    <formulas>
        <name>Enddatetime</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE({!$Record.Opportunity.Event_End_Date__c}) + 0.75</expression>
    </formulas>
    <formulas>
        <name>Hybridevent</name>
        <dataType>String</dataType>
        <expression>IF(INCLUDES({!$Record.Opportunity.Expected_Services__c}, &quot;Hybrid&quot;),&quot;Yes&quot;,&quot;No&quot;)</expression>
    </formulas>
    <formulas>
        <name>orderamountopp</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Dhruvsoft__OrderAmtFromOpportunityAmt__c}/4</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Orderentereddate</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <name>Startdatetime</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE({!$Record.Opportunity.Event_Start_Date__c})+0.75</expression>
    </formulas>
    <interviewLabel>Flow Event Name Duplicate Check Field / Opp to Order Logic {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Flow Event Name Duplicate Check Field / Opp to Order Logic</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Copy_1_of_Update_Four_Pack_Status</name>
        <label>Update &apos;Four Pack Status&apos;</label>
        <locationX>1106</locationX>
        <locationY>455</locationY>
        <filters>
            <field>Four_Pack_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Participate</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Four_Pack_Status__c</field>
            <value>
                <stringValue>Do not participate</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Update_Order_with_Opp_Details</name>
        <label>Update Order with Opp Details</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <inputAssignments>
            <field>Account_Legal_Entity__c</field>
            <value>
                <elementReference>$Record.Opportunity.Account_Legal_Entity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCity</field>
            <value>
                <elementReference>$Record.Opportunity.Billing_Address__City__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCountry</field>
            <value>
                <elementReference>$Record.Opportunity.Billing_Address__CountryCode__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingPostalCode</field>
            <value>
                <elementReference>$Record.Opportunity.Billing_Address__PostalCode__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStateCode</field>
            <value>
                <elementReference>$Record.Opportunity.Billing_Address__StateCode__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStreet</field>
            <value>
                <elementReference>$Record.Opportunity.Billing_Address__Street__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Client_Cost_Code__c</field>
            <value>
                <elementReference>$Record.Opportunity.Client_Cost_Code_PO__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>$Record.Opportunity.Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Dhruvsoft__OrderAmtFromOpportunityAmt__c</field>
            <value>
                <elementReference>orderamountopp</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EffectiveDate</field>
            <value>
                <elementReference>Orderentereddate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End_Date_Time__c</field>
            <value>
                <elementReference>Enddatetime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Event_Type_Client_Defined__c</field>
            <value>
                <elementReference>$Record.Opportunity.Expected_Services__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Four_Pack_Order_from_Opportunity__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Four_Pack_Status__c</field>
            <value>
                <stringValue>Participate</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Hybrid_Event__c</field>
            <value>
                <elementReference>Hybridevent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Meeting_Complexity__c</field>
            <value>
                <elementReference>$Record.Meeting_Complexity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.Opportunity.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Order_Confirmed_Date__c</field>
            <value>
                <elementReference>Orderentereddate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Order_Source__c</field>
            <value>
                <elementReference>$Record.Opportunity.LeadSource</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Opportunity.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project_Manager__c</field>
            <value>
                <elementReference>$Record.Opportunity.Project_Manager__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Region__c</field>
            <value>
                <elementReference>$Record.Opportunity.Region__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date_Time__c</field>
            <value>
                <elementReference>Startdatetime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_2_of_Update_Order_with_Opp_Details</name>
        <label>Update Order with Opp Details</label>
        <locationX>578</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>Update_Hybrid_dropdown</targetReference>
        </connector>
        <inputAssignments>
            <field>Account_Legal_Entity__c</field>
            <value>
                <elementReference>$Record.Opportunity.Account_Legal_Entity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCity</field>
            <value>
                <elementReference>$Record.Opportunity.Billing_Address__City__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCountry</field>
            <value>
                <elementReference>$Record.Opportunity.Billing_Address__CountryCode__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingPostalCode</field>
            <value>
                <elementReference>$Record.Opportunity.Billing_Address__PostalCode__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStateCode</field>
            <value>
                <elementReference>$Record.Opportunity.Billing_Address__StateCode__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStreet</field>
            <value>
                <elementReference>$Record.Opportunity.Billing_Address__Street__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Client_Cost_Code__c</field>
            <value>
                <elementReference>$Record.Opportunity.Client_Cost_Code_PO__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Department__c</field>
            <value>
                <elementReference>$Record.Department__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>$Record.Opportunity.Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EffectiveDate</field>
            <value>
                <elementReference>Orderentereddate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End_Date_Time__c</field>
            <value>
                <elementReference>Enddatetime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Event_Type_Client_Defined__c</field>
            <value>
                <elementReference>$Record.Opportunity.Expected_Services__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Meeting_Complexity__c</field>
            <value>
                <elementReference>$Record.Meeting_Complexity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.Opportunity.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Order_Confirmed_Date__c</field>
            <value>
                <elementReference>Orderentereddate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Order_Source__c</field>
            <value>
                <elementReference>$Record.Opportunity.LeadSource</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Opportunity.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project_Manager__c</field>
            <value>
                <elementReference>$Record.Opportunity.Project_Manager__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Region__c</field>
            <value>
                <elementReference>$Record.Opportunity.Region__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date_Time__c</field>
            <value>
                <elementReference>Startdatetime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Hybrid_dropdown</name>
        <label>Update Hybrid dropdown</label>
        <locationX>578</locationX>
        <locationY>695</locationY>
        <inputAssignments>
            <field>Hybrid_Event__c</field>
            <value>
                <elementReference>Hybridevent</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Order_Amount_Opportunity</name>
        <label>Update Order Amount (Opportunity)</label>
        <locationX>842</locationX>
        <locationY>455</locationY>
        <inputAssignments>
            <field>Dhruvsoft__OrderAmtFromOpportunityAmt__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Order_Record_Type_to_No_Contract</name>
        <label>Update Order Record Type to No Contract</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>Update_Order_with_Opp_Details</targetReference>
        </connector>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0121L000001QT76QAG</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Order_Record_Type_to_No_Contract1</name>
        <label>Update Order Record Type to No Contract</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>Copy_1_of_Update_Order_with_Opp_Details</targetReference>
        </connector>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0121L000001QT76QAG</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Order_Record_Type_to_No_Contract_Required_and_Venue</name>
        <label>Update Order Record Type to No Contract Required and Venue</label>
        <locationX>578</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>Copy_2_of_Update_Order_with_Opp_Details</targetReference>
        </connector>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0121L000001QT76QAG</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Venue__c</field>
            <value>
                <stringValue>a121L00000Cjce1QAB</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Order_with_Opp_Details</name>
        <label>Update Order with Opp Details</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <inputAssignments>
            <field>Account_Legal_Entity__c</field>
            <value>
                <elementReference>$Record.Opportunity.Account_Legal_Entity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCity</field>
            <value>
                <elementReference>$Record.Opportunity.Billing_Address__City__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCountry</field>
            <value>
                <elementReference>$Record.Opportunity.Billing_Address__CountryCode__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingPostalCode</field>
            <value>
                <elementReference>$Record.Opportunity.Billing_Address__PostalCode__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStateCode</field>
            <value>
                <elementReference>$Record.Opportunity.Billing_Address__StateCode__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStreet</field>
            <value>
                <elementReference>$Record.Opportunity.Billing_Address__Street__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Client_Cost_Code__c</field>
            <value>
                <elementReference>$Record.Opportunity.Client_Cost_Code_PO__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>$Record.Opportunity.Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EffectiveDate</field>
            <value>
                <elementReference>Orderentereddate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End_Date_Time__c</field>
            <value>
                <elementReference>Enddatetime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Event_Type_Client_Defined__c</field>
            <value>
                <elementReference>$Record.Opportunity.Expected_Services__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Hybrid_Event__c</field>
            <value>
                <elementReference>Hybridevent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Meeting_Complexity__c</field>
            <value>
                <elementReference>$Record.Meeting_Complexity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.Opportunity.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Order_Confirmed_Date__c</field>
            <value>
                <elementReference>Orderentereddate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Order_Source__c</field>
            <value>
                <elementReference>$Record.Opportunity.LeadSource</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Opportunity.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project_Manager__c</field>
            <value>
                <elementReference>$Record.Opportunity.Project_Manager__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Region__c</field>
            <value>
                <elementReference>$Record.Opportunity.Region__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date_Time__c</field>
            <value>
                <elementReference>Startdatetime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <startElementReference>Singular_GCS_Package_Opp_to_Order_Conversion</startElementReference>
    <status>Draft</status>
</Flow>
