cititechdNew2024Jan/force-app/main/default/flows/FlowCopy_Order_Products_to_Monday_com_Product.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Existing_Order_Products_Updated</name>
        <label>Existing Order Products Updated</label>
        <locationX>182</locationX>
        <locationY>671</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ISNEWrecord</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Monday_com_Products</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_Order_Products_Inserted</name>
        <label>New Order Products Inserted</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Existing_Order_Products_Updated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ISNEWrecord</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Monday_com_Product</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <formulas>
        <name>ISNEWrecord</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Copy Order Products to Monday.com Product {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Copy Order Products to Monday.com Product</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Monday_com_Product</name>
        <label>Create Monday.com Product</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>Existing_Order_Products_Updated</targetReference>
        </connector>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>$Record.CurrencyIsoCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>List_Price__c</field>
            <value>
                <elementReference>$Record.ListPrice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Monday_com_Integration__c</field>
            <value>
                <elementReference>$Record.Order.Monday_com_Integration__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Month_Recognized__c</field>
            <value>
                <elementReference>$Record.Month_Recognized__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.Product2.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Order_Product__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Family__c</field>
            <value>
                <elementReference>$Record.Product2.Family</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product__c</field>
            <value>
                <elementReference>$Record.Product2Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity__c</field>
            <value>
                <elementReference>$Record.Quantity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Special_Terms_Notes__c</field>
            <value>
                <elementReference>$Record.Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_and_End_Date_Crossover_Month__c</field>
            <value>
                <elementReference>$Record.Start_and_End_Date_Crossover_Month__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_Product_Family__c</field>
            <value>
                <elementReference>$Record.Product2.Sub_Product_Family__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Price__c</field>
            <value>
                <elementReference>$Record.TotalPrice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Unit_Price__c</field>
            <value>
                <elementReference>$Record.UnitPrice</elementReference>
            </value>
        </inputAssignments>
        <object>Monday_com_Products__c</object>
    </recordCreates>
    <recordUpdates>
        <name>Update_Monday_com_Products</name>
        <label>Update Monday.com Products</label>
        <locationX>50</locationX>
        <locationY>791</locationY>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>$Record.CurrencyIsoCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>List_Price__c</field>
            <value>
                <elementReference>$Record.ListPrice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Month_Recognized__c</field>
            <value>
                <elementReference>$Record.Month_Recognized__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.Product2.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Family__c</field>
            <value>
                <elementReference>$Record.Product2.Family</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity__c</field>
            <value>
                <elementReference>$Record.Quantity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Special_Terms_Notes__c</field>
            <value>
                <elementReference>$Record.Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_and_End_Date_Crossover_Month__c</field>
            <value>
                <elementReference>$Record.Start_and_End_Date_Crossover_Month__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_Product_Family__c</field>
            <value>
                <elementReference>$Record.Product2.Sub_Product_Family__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Price__c</field>
            <value>
                <elementReference>$Record.TotalPrice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Unit_Price__c</field>
            <value>
                <elementReference>$Record.UnitPrice</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Monday_com_Products__r</inputReference>
    </recordUpdates>
    <startElementReference>New_Order_Products_Inserted</startElementReference>
    <status>Active</status>
</Flow>
