cititechdNew2024Jan/force-app/main/default/flows/Flow_to_Add_Users_to_Public_Group.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>AMER_User_Added</name>
        <label>AMER User Added</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>EMEA_User_Added</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Country</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>United States</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Country</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Canada</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_user_to_AMER_Group</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>APAC_User_Added</name>
        <label>APAC User Added</label>
        <locationX>182</locationX>
        <locationY>1007</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Copy_1_of_Yes</name>
            <conditionLogic>1 AND (2 OR 3 OR 4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Country</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Australia</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Country</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>China</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Country</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>India</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Country</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Japan</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_user_to_APAC_group</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>EMEA_User_Added</name>
        <label>EMEA User Added</label>
        <locationX>182</locationX>
        <locationY>671</locationY>
        <defaultConnector>
            <targetReference>APAC_User_Added</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Yes</name>
            <conditionLogic>1 AND (2 OR 3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Country</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>United Kingdom</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Country</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ireland</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Country</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ukraine</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_user_to_EMEA_Group</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Version 56</description>
    <interviewLabel>Add Users to Public Group {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Flow to Add Users to Public Group</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <startElementReference>AMER_User_Added</startElementReference>
    <status>Active</status>
    <subflows>
        <name>Add_user_to_AMER_Group</name>
        <label>Add user to AMER Group</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>EMEA_User_Added</targetReference>
        </connector>
        <flowName>Automatically_add_New_User_to_Public_Group</flowName>
        <inputAssignments>
            <name>varTUserId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Add_user_to_APAC_group</name>
        <label>Add user to APAC group</label>
        <locationX>50</locationX>
        <locationY>1127</locationY>
        <flowName>Automatically_add_New_User_to_APAC_Public_Group</flowName>
        <inputAssignments>
            <name>varTUserId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Add_user_to_EMEA_Group</name>
        <label>Add user to EMEA Group</label>
        <locationX>50</locationX>
        <locationY>791</locationY>
        <connector>
            <targetReference>APAC_User_Added</targetReference>
        </connector>
        <flowName>Automatically_add_New_User_to_EMEA_Public_Group</flowName>
        <inputAssignments>
            <name>varTUserId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
</Flow>
