cititechdNew2024Jan/force-app/main/default/flows/Flow_Account_Logic_for_Account_Managers_Capital_Markets.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>OE_Business_Lead_AM_Regional_assignment_Notification</name>
        <label>OE Business Lead / AM Regional assignment Notification</label>
        <locationX>314</locationX>
        <locationY>5687</locationY>
        <actionName>Order.OE_Business_Lead_AM_Regional_assignment_Notification</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <decisions>
        <name>Account_Has_Regional_AM_Populated</name>
        <label>Account Has Regional AM Populated</label>
        <locationX>446</locationX>
        <locationY>4931</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_14_of_Yes</name>
            <conditionLogic>(1 OR 2 OR 3) AND 4 AND 5 AND 6 AND 7 AND 8 AND 9</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.AMER_AccountManager__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.EMEA_AccountManager__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.APAC_AccountManager__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CreatedDate</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <dateTimeValue>2022-09-08T04:00:00.000Z</dateTimeValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Region__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>TBD</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Regional_AM_Reassignment_Email_Sent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Business_Line__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Capital Markets</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>London Stock Exchange Group Plc</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_AMER_OE_Business_Lead_to_AM_Exception_Citi_Velocity_Orders</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Bank_of_America_AMER_Account_Added</name>
        <label>Bank of America AMER Account Added</label>
        <locationX>248</locationX>
        <locationY>3023</locationY>
        <defaultConnector>
            <targetReference>Credit_Suisse_AMER_Account_Added</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Copy_6_of_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>001d000000ABh0PAAT</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Region_Business_Line__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AMER Capital Markets</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Bill_To_Legal_Entity_Name__r.Internal_SF_ID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Entity_to_BOA</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Barclays_AMER_Account_Added</name>
        <label>Barclays AMER Account Added</label>
        <locationX>248</locationX>
        <locationY>2723</locationY>
        <defaultConnector>
            <targetReference>Bank_of_America_AMER_Account_Added</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Copy_5_of_Yes</name>
            <conditionLogic>1 AND (2 OR 3) AND 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Barclays</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Region_Business_Line__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AMER Capital Markets</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Region_Business_Line__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EMEA Capital Markets</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Bill_To_Legal_Entity_Name__r.Internal_SF_ID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Entity_to_Barclays</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Capital_Markets_AMER_Project_Manager_Update</name>
        <label>Capital Markets AMER / Project Manager Update</label>
        <locationX>248</locationX>
        <locationY>1223</locationY>
        <defaultConnector>
            <targetReference>Capital_Markets_EMEA_Project_Manager_Update</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Yes</name>
            <conditionLogic>1 AND 2 AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Region_Business_Line__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AMER Capital Markets</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Project_Manager__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Progress</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_PM_to_Devin_Liang</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Capital_Markets_Billing_Method_Null</name>
        <label>Capital Markets Billing Method Null</label>
        <locationX>248</locationX>
        <locationY>623</locationY>
        <defaultConnector>
            <targetReference>Capital_Markets_Order_Added_OE_Biz_Lead_Update</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Business_Line__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Capital Markets</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Billing_Method__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CreatedDate</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <dateTimeValue>2021-08-24T04:00:00.000Z</dateTimeValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_OEBilling_Method_and_Billing_Time_Sensitivity</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Capital_Markets_EMEA_Project_Manager_Update</name>
        <label>Capital Markets EMEA / Project Manager Update</label>
        <locationX>248</locationX>
        <locationY>1523</locationY>
        <defaultConnector>
            <targetReference>Citi_EMEA_Account_Added</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Copy_2_of_Yes</name>
            <conditionLogic>1 AND 2 AND (3 OR 4) AND 5</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Region_Business_Line__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EMEA Capital Markets</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Project_Manager_2__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Progress</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>McTesty</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_PM_to_Andrew_Westoby</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Capital_Markets_Order_Added_OE_Biz_Lead_Update</name>
        <label>Capital Markets Order Added - OE Biz Lead Update</label>
        <locationX>248</locationX>
        <locationY>923</locationY>
        <defaultConnector>
            <targetReference>Capital_Markets_AMER_Project_Manager_Update</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Business_Line__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Capital Markets</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Formstack_Order__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_OE_Biz_Lead</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Citi_AMER_Account_Added</name>
        <label>Citi AMER Account Added</label>
        <locationX>248</locationX>
        <locationY>2123</locationY>
        <defaultConnector>
            <targetReference>Morgan_Stanley_AMER_Account_Added</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yescopy</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Citi</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Region_Business_Line__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AMER Capital Markets</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Bill_To_Legal_Entity_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Entity_to_Citibank_N_A</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Citi_EMEA_Account_Added</name>
        <label>Citi EMEA Account Added</label>
        <locationX>248</locationX>
        <locationY>1823</locationY>
        <defaultConnector>
            <targetReference>Citi_AMER_Account_Added</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Copy_3_of_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Citi</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Region_Business_Line__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EMEA Capital Markets</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Bill_To_Legal_Entity_Name__r.Internal_SF_ID__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Entity_to_Citigroup_Global_Markets_Limited</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Credit_Suisse_AMER_Account_Added</name>
        <label>Credit Suisse AMER Account Added</label>
        <locationX>248</locationX>
        <locationY>3323</locationY>
        <defaultConnector>
            <targetReference>Raymond_James_AMER_Account_Added</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Copy_7_of_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Credit Suisse</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Region_Business_Line__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AMER Capital Markets</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Bill_To_Legal_Entity_Name__r.Internal_SF_ID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Entity_to_Credit_Suisse_Securities_USA_LLC</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Evercore_Partners_AMER_Account_Added</name>
        <label>Evercore Partners AMER Account Added</label>
        <locationX>248</locationX>
        <locationY>4223</locationY>
        <defaultConnector>
            <targetReference>UBS_EMEA_Account_Added</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Copy_10_of_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Evercore Partners Inc</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Region_Business_Line__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AMER Capital Markets</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Bill_To_Legal_Entity_Name__r.Internal_SF_ID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Entity_to_Evercore_Partners_Inc</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>J_P_Morgan_AMER_ECM_Order_Created</name>
        <label>J.P. Morgan AMER ECM Order Created</label>
        <locationX>248</locationX>
        <locationY>4823</locationY>
        <defaultConnector>
            <targetReference>Account_Has_Regional_AM_Populated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Copy_12_of_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>J.P. Morgan</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Region_Business_Line__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AMER Capital Markets</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>0121L000001QT84QAG</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CreatedDate</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <dateTimeValue>2021-03-02T05:00:00.000Z</dateTimeValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Billing_Contact_to_Suzanne_Moore</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Morgan_Stanley_AMER_Account_Added</name>
        <label>Morgan Stanley AMER Account Added</label>
        <locationX>248</locationX>
        <locationY>2423</locationY>
        <defaultConnector>
            <targetReference>Barclays_AMER_Account_Added</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Copy_4_of_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Morgan Stanley</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Region_Business_Line__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AMER Capital Markets</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Bill_To_Legal_Entity_Name__r.Internal_SF_ID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Entity_to_Morgan_Stanley</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Raymond_James_AMER_Account_Added</name>
        <label>Raymond James AMER Account Added</label>
        <locationX>248</locationX>
        <locationY>3623</locationY>
        <defaultConnector>
            <targetReference>TD_Securities_AMER_Account_Added</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Copy_8_of_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>001d0000010b5ehAAA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Region_Business_Line__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AMER Capital Markets</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Bill_To_Legal_Entity_Name__r.Internal_SF_ID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Entity_to_Raymond_James_Financial_Inc</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>TD_Securities_AMER_Account_Added</name>
        <label>TD Securities AMER Account Added</label>
        <locationX>248</locationX>
        <locationY>3923</locationY>
        <defaultConnector>
            <targetReference>Evercore_Partners_AMER_Account_Added</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Copy_9_of_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TD Securities LLC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Region_Business_Line__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AMER Capital Markets</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Bill_To_Legal_Entity_Name__r.Internal_SF_ID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Entity_to_TD_Securities_LLC</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>UBS_EMEA_Account_Added</name>
        <label>UBS EMEA Account Added</label>
        <locationX>248</locationX>
        <locationY>4523</locationY>
        <defaultConnector>
            <targetReference>J_P_Morgan_AMER_ECM_Order_Created</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Copy_11_of_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UBS AG</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Region_Business_Line__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EMEA Capital Markets</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Bill_To_Legal_Entity_Name__r.Internal_SF_ID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Entity_to_UBS_Investment_Bank</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Veracast_Order_Connex_Added</name>
        <label>Veracast Order Connex Added</label>
        <locationX>248</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Capital_Markets_Billing_Method_Null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>1 AND 2 AND (3 OR 4) AND (5 OR 6)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Connex</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account_Legal_Entity__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue> Veracast</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue> New</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue> In Progress</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Requester_Contact__r.LastName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Teague</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Billing_Contact_First_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Connex</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Connex_Requester_Priscilla_Teague_Billing_Contact_Connex_Invoicing</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Updating for Kiara MacKellar APAC Australia</description>
    <interviewLabel>Flow - Account Logic for Account Managers/Capital Markets {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Flow - Account Logic for Account Managers/Capital Markets</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_AMER_OE_Business_Lead_to_AM</name>
        <label>Update AMER OE Business Lead to AM</label>
        <locationX>314</locationX>
        <locationY>5579</locationY>
        <connector>
            <targetReference>OE_Business_Lead_AM_Regional_assignment_Notification</targetReference>
        </connector>
        <filters>
            <field>Region__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AMER</stringValue>
            </value>
        </filters>
        <filters>
            <field>OE_Business_Lead_Name_Stamp__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>0058X00000EnewQ</stringValue>
            </value>
        </filters>
        <filters>
            <field>CreatedById</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>0058X00000EnewGQAR</stringValue>
            </value>
        </filters>
        <filters>
            <field>CreatedById</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>0058X00000EnexJQAR</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Account.AMER_AccountManager__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Regional_AM_Reassignment_Email_Sent__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_AMER_OE_Business_Lead_to_AM_Exception_Citi_Velocity_Orders</name>
        <label>Update AMER OE Business Lead to AM (Exception Citi Velocity Orders)</label>
        <locationX>314</locationX>
        <locationY>5039</locationY>
        <connector>
            <targetReference>Update_EMEA_OE_Business_Lead_to_AM</targetReference>
        </connector>
        <filters>
            <field>Region__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue> AMER</stringValue>
            </value>
        </filters>
        <filters>
            <field>Department__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue> Research</stringValue>
            </value>
        </filters>
        <filters>
            <field>Account_Name_Stamp__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Citi</stringValue>
            </value>
        </filters>
        <filters>
            <field>Event_Type_OE_Defined__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Business Meetings</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>0058X00000EnewQ</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>APAC -&gt; Kiara MacKellar</description>
        <name>Update_APAC_Australia_Citi_OE_Business_Lead_to_AM</name>
        <label>Update APAC Australia Citi OE Business Lead to AM</label>
        <locationX>314</locationX>
        <locationY>5363</locationY>
        <connector>
            <targetReference>Update_APAC_Australia_JPM_OE_Business_Lead_to_AM</targetReference>
        </connector>
        <filters>
            <field>Region__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>APAC</stringValue>
            </value>
        </filters>
        <filters>
            <field>BillingCountry</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Australia</stringValue>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0011L00002l4oV1QAI</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>0058X00000EnFEOQA3</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Regional_AM_Reassignment_Email_Sent__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_APAC_Australia_JPM_OE_Business_Lead_to_AM</name>
        <label>Update APAC Australia JPM OE Business Lead to AM</label>
        <locationX>314</locationX>
        <locationY>5471</locationY>
        <connector>
            <targetReference>Update_AMER_OE_Business_Lead_to_AM</targetReference>
        </connector>
        <filters>
            <field>Region__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>APAC</stringValue>
            </value>
        </filters>
        <filters>
            <field>BillingCountry</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Australia</stringValue>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0011L00002l4otXQAQ</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>0051L00000Dng1o</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Regional_AM_Reassignment_Email_Sent__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_APAC_Non_Australia_JPM_Citi_OE_Business_Lead_to_AM</name>
        <label>Update APAC Non Australia JPM/Citi OE Business Lead to AM</label>
        <locationX>314</locationX>
        <locationY>5255</locationY>
        <connector>
            <targetReference>Update_APAC_Australia_Citi_OE_Business_Lead_to_AM</targetReference>
        </connector>
        <filters>
            <field>Region__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue> APAC</stringValue>
            </value>
        </filters>
        <filters>
            <field>BillingCountry</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Australia</stringValue>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>0011L00002l4oV1QAI</stringValue>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>0011L00002l4otXQAQ</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Account.APAC_AccountManager__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Regional_AM_Reassignment_Email_Sent__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Billing_Contact_Sonya_to_her_Billing_Address</name>
        <label>Update Billing Contact Sonya to her Billing Address</label>
        <locationX>50</locationX>
        <locationY>5039</locationY>
        <inputAssignments>
            <field>BillingCity</field>
            <value>
                <elementReference>$Record.Billing_Contact__r.MailingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCountry</field>
            <value>
                <elementReference>$Record.Billing_Contact__r.MailingCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingPostalCode</field>
            <value>
                <elementReference>$Record.Billing_Contact__r.MailingPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingState</field>
            <value>
                <elementReference>$Record.Billing_Contact__r.MailingState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStreet</field>
            <value>
                <elementReference>$Record.Billing_Contact__r.MailingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Billing_Contact_to_Suzanne_Moore</name>
        <label>Update Billing Contact to Suzanne Moore</label>
        <locationX>50</locationX>
        <locationY>4931</locationY>
        <connector>
            <targetReference>Update_Billing_Contact_Sonya_to_her_Billing_Address</targetReference>
        </connector>
        <inputAssignments>
            <field>Bill_To_Legal_Entity_Name__c</field>
            <value>
                <stringValue>0011L00002qFWhrQAG</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCountry</field>
            <value>
                <stringValue>United States</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingState</field>
            <value>
                <stringValue>New York</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Contact__c</field>
            <value>
                <stringValue>0031L00003I2U0fQAF</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Connex_Requester_Priscilla_Teague_Billing_Contact_Connex_Invoicing</name>
        <label>Update Connex Requester Priscilla Teague/Billing Contact Connex Invoicing</label>
        <locationX>116</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Capital_Markets_Billing_Method_Null</targetReference>
        </connector>
        <inputAssignments>
            <field>Billing_Contact__c</field>
            <value>
                <stringValue>0038X00003Yev0vQAB</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Requester_Contact__c</field>
            <value>
                <stringValue>0038X00003VgPIkQAN</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_EMEA_OE_Business_Lead_to_AM</name>
        <label>Update EMEA OE Business Lead to AM</label>
        <locationX>314</locationX>
        <locationY>5147</locationY>
        <connector>
            <targetReference>Update_APAC_Non_Australia_JPM_Citi_OE_Business_Lead_to_AM</targetReference>
        </connector>
        <filters>
            <field>Region__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>EMEA</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Account.EMEA_AccountManager__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Regional_AM_Reassignment_Email_Sent__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Entity_to_Barclays</name>
        <label>Update Entity to Barclays</label>
        <locationX>116</locationX>
        <locationY>2831</locationY>
        <connector>
            <targetReference>Bank_of_America_AMER_Account_Added</targetReference>
        </connector>
        <inputAssignments>
            <field>Bill_To_Legal_Entity_Name__c</field>
            <value>
                <stringValue>001d000000ABh0QAAT</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Entity_to_BOA</name>
        <label>Update Entity to BOA</label>
        <locationX>116</locationX>
        <locationY>3131</locationY>
        <connector>
            <targetReference>Credit_Suisse_AMER_Account_Added</targetReference>
        </connector>
        <inputAssignments>
            <field>Bill_To_Legal_Entity_Name__c</field>
            <value>
                <stringValue>001d000000ABh0PAAT</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Entity_to_Citibank_N_A</name>
        <label>Update Entity to Citibank N.A.</label>
        <locationX>116</locationX>
        <locationY>2231</locationY>
        <connector>
            <targetReference>Morgan_Stanley_AMER_Account_Added</targetReference>
        </connector>
        <inputAssignments>
            <field>Bill_To_Legal_Entity_Name__c</field>
            <value>
                <stringValue>0011L00002hhQ3yQAE</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Entity_to_Citigroup_Global_Markets_Limited</name>
        <label>Update Entity to Citigroup Global Markets Limited</label>
        <locationX>116</locationX>
        <locationY>1931</locationY>
        <connector>
            <targetReference>Citi_AMER_Account_Added</targetReference>
        </connector>
        <inputAssignments>
            <field>Bill_To_Legal_Entity_Name__c</field>
            <value>
                <stringValue>0011L00002hhQ35QAE</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Entity_to_Credit_Suisse_Securities_USA_LLC</name>
        <label>Update Entity to Credit Suisse Securities (USA) LLC</label>
        <locationX>116</locationX>
        <locationY>3431</locationY>
        <connector>
            <targetReference>Raymond_James_AMER_Account_Added</targetReference>
        </connector>
        <inputAssignments>
            <field>Bill_To_Legal_Entity_Name__c</field>
            <value>
                <stringValue>0011L00002hhQIFQA2</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Entity_to_Evercore_Partners_Inc</name>
        <label>Update Entity to Evercore Partners Inc</label>
        <locationX>116</locationX>
        <locationY>4331</locationY>
        <connector>
            <targetReference>UBS_EMEA_Account_Added</targetReference>
        </connector>
        <inputAssignments>
            <field>Bill_To_Legal_Entity_Name__c</field>
            <value>
                <stringValue>0013w00002S8gxgAAB</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Entity_to_Morgan_Stanley</name>
        <label>Update Entity to Morgan Stanley</label>
        <locationX>116</locationX>
        <locationY>2531</locationY>
        <connector>
            <targetReference>Barclays_AMER_Account_Added</targetReference>
        </connector>
        <inputAssignments>
            <field>Bill_To_Legal_Entity_Name__c</field>
            <value>
                <stringValue>001d000000B5MuhAAF</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Entity_to_Raymond_James_Financial_Inc</name>
        <label>Update Entity to Raymond James Financial, Inc.</label>
        <locationX>116</locationX>
        <locationY>3731</locationY>
        <connector>
            <targetReference>TD_Securities_AMER_Account_Added</targetReference>
        </connector>
        <inputAssignments>
            <field>Bill_To_Legal_Entity_Name__c</field>
            <value>
                <stringValue>001d0000010b5ehAAA</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Entity_to_TD_Securities_LLC</name>
        <label>Update Entity to TD Securities LLC</label>
        <locationX>116</locationX>
        <locationY>4031</locationY>
        <connector>
            <targetReference>Evercore_Partners_AMER_Account_Added</targetReference>
        </connector>
        <inputAssignments>
            <field>Bill_To_Legal_Entity_Name__c</field>
            <value>
                <stringValue>0011L00002hhQONQA2</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Entity_to_UBS_Investment_Bank</name>
        <label>Update Entity to UBS Investment Bank</label>
        <locationX>116</locationX>
        <locationY>4631</locationY>
        <connector>
            <targetReference>J_P_Morgan_AMER_ECM_Order_Created</targetReference>
        </connector>
        <inputAssignments>
            <field>Bill_To_Legal_Entity_Name__c</field>
            <value>
                <stringValue>0011L00002hhQPQQA2</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_OE_Biz_Lead</name>
        <label>Update OE Biz Lead</label>
        <locationX>116</locationX>
        <locationY>1031</locationY>
        <connector>
            <targetReference>Capital_Markets_AMER_Project_Manager_Update</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_OEBilling_Method_and_Billing_Time_Sensitivity</name>
        <label>Update OEBilling Method and Billing Time Sensitivity</label>
        <locationX>116</locationX>
        <locationY>731</locationY>
        <connector>
            <targetReference>Capital_Markets_Order_Added_OE_Biz_Lead_Update</targetReference>
        </connector>
        <inputAssignments>
            <field>Billing_Method__c</field>
            <value>
                <stringValue>Bill Per Event</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Time_Sensitivity__c</field>
            <value>
                <stringValue>Within 72 Hours</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_PM_to_Andrew_Westoby</name>
        <label>Update PM to Andrew Westoby</label>
        <locationX>116</locationX>
        <locationY>1631</locationY>
        <connector>
            <targetReference>Citi_EMEA_Account_Added</targetReference>
        </connector>
        <inputAssignments>
            <field>Project_Manager_2__c</field>
            <value>
                <stringValue>0031L00003STbUcQAL</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_PM_to_Devin_Liang</name>
        <label>Update PM to Devin Liang</label>
        <locationX>116</locationX>
        <locationY>1331</locationY>
        <connector>
            <targetReference>Capital_Markets_EMEA_Project_Manager_Update</targetReference>
        </connector>
        <inputAssignments>
            <field>Project_Manager__c</field>
            <value>
                <stringValue>0031L00003STbV4QAL</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <startElementReference>Veracast_Order_Connex_Added</startElementReference>
    <status>Active</status>
</Flow>
