cititechdNew2024Jan/force-app/main/default/flows/Flow_for_All_Opportunity_Processes.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Email_Alert</name>
        <label>Email Alert</label>
        <locationX>50</locationX>
        <locationY>1463</locationY>
        <actionName>Opportunity.Expedited_Event_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_Expedited_Event_Email_Alert</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Emal</name>
        <label>Emal</label>
        <locationX>50</locationX>
        <locationY>3167</locationY>
        <actionName>Opportunity.GCS_Closed_Won_Opportunities</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_GCS_Closed_Won_Opp_Flag</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Expected_Services_Review_Notification</name>
        <label>Send &apos;Expected Services&apos; Review Notification</label>
        <locationX>50</locationX>
        <locationY>2159</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Opportunity_Amount_Has_Changed</targetReference>
        </connector>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_custom_notification_id.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>Hello! You have just moved your Opportunity from the stage &apos;Solution&apos; to &apos;Proposal&apos;.... Congrats! Please review the current value you have for Expected Services ({![Opportunity].Expected_Services__c}) and make sure this is correct before proceeding. </stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Review Expected Services on Opportunity {!$Record.Name}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>RecipientsIDs</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Mail</name>
        <label>Send Mail</label>
        <locationX>50</locationX>
        <locationY>1127</locationY>
        <actionName>Opportunity.Project_Manager_Opportunity_Assignment_Email_Notification</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Opportunity_Expedited_Event_Checked</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>Assign_receipient</name>
        <label>Assign receipient</label>
        <locationX>50</locationX>
        <locationY>1919</locationY>
        <assignmentItems>
            <assignToReference>RecipientsIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_custom_notification_id</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Bill_to_Legal_Entity_Populated</name>
        <label>Bill to Legal Entity Populated</label>
        <locationX>182</locationX>
        <locationY>4631</locationY>
        <defaultConnector>
            <targetReference>Hybrid_Value_Venue_Populated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes12</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Bill_To_Legal_Entity_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Bill_To_Legal_Entity_Name__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Billing_Address</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Channel_Agency_Referral_Lookup_Populated</name>
        <label>Channel Agency Referral Lookup Populated</label>
        <locationX>182</locationX>
        <locationY>5303</locationY>
        <defaultConnector>
            <targetReference>Opp_Closed_Disqualified_SQO</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes14</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Channel_Agency_Referral__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Channel_Agency_Referral_Partner_Tagged__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Channel_Agency_Referral_Partner_Tagged_Checkbox</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Closed_Won_Opportunity</name>
        <label>Closed Won Opportunity</label>
        <locationX>182</locationX>
        <locationY>2711</locationY>
        <defaultConnector>
            <targetReference>GCS_Closed_Won_Opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes7</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_Status_to_Active_Customer</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Knovio_Renewal_Retention_Opportunity_is_Closed_Won</name>
        <label>Knovio Renewal/Retention Opportunity is Closed Won</label>
        <locationX>182</locationX>
        <locationY>3503</locationY>
        <defaultConnector>
            <targetReference>Expected_Services_Includes_Investor_Days_Earning_Calls_Corporate_Services</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Yes</name>
            <conditionLogic>1 AND 2 AND 3 and (4 OR 5 OR 6)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0123w00000224fsAAA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Renewal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Expected_Services__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Knovio</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Existing Business</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_New_Renewal_Retention_Opportunity</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Expected_Services_Changes_Investor_Days_or_Corporate_Services</name>
        <label>Expected Services Changes &quot;Investor Days&quot; or &quot;Corporate Services&quot;</label>
        <locationX>182</locationX>
        <locationY>4295</locationY>
        <defaultConnector>
            <targetReference>Bill_to_Legal_Entity_Populated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes11</name>
            <conditionLogic>1 AND 2 AND (3 OR 4 OR 5 OR 6)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.GCS_Generated_Revenue__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Expected_Services__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Expected_Services__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>OE Conference</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Expected_Services__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Capital Markets</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Expected_Services__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>OE Live</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Expected_Services__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Knovio</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_GCS_Generated_Revenue_Checkbox</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Expected_Services_Includes_Investor_Days_Earning_Calls_Corporate_Services</name>
        <label>Expected Services Includes &quot;Investor Days/Earning Calls,Corporate Services&quot;</label>
        <locationX>182</locationX>
        <locationY>3959</locationY>
        <defaultConnector>
            <targetReference>Expected_Services_Changes_Investor_Days_or_Corporate_Services</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes10</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Expected_Services__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Investor Days/Earning Calls</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Expected_Services__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Corporate Services</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.GCS_Generated_Revenue__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_GCS_Generated_Checkbox_to_True</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>GCS_Closed_Won_Opportunity</name>
        <label>GCS Closed Won Opportunity</label>
        <locationX>182</locationX>
        <locationY>3047</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Knovio_Renewal_Retention_Opportunity_is_Closed_Won</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes8</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.GCS_Generated_Revenue__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.GCS_Closed_Won_Email_Notification__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Actual_Closed_Won_Date__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <dateValue>2022-12-15</dateValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Kevin Test Surya Fix</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Emal</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Hybrid_Value_Venue_Populated</name>
        <label>Hybrid Value -&gt; Venue Populated</label>
        <locationX>182</locationX>
        <locationY>4967</locationY>
        <defaultConnector>
            <targetReference>Channel_Agency_Referral_Lookup_Populated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes13</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Expected_Services__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Hybrid</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Venue__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Venue_under_Consideration</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opp_Closed_Disqualified_SQO</name>
        <label>Opp Closed Disqualified &amp; SQO</label>
        <locationX>182</locationX>
        <locationY>5639</locationY>
        <defaultConnector>
            <targetReference>Opp_Closed_Disqualified_SQO_closedcomments</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes15</name>
            <conditionLogic>1 OR 2 OR 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Disqualified</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SQO</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Lost</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Closed_Disqualified_Checkbox</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opp_Closed_Disqualified_SQO_closedcomments</name>
        <label>Opp Closed Disqualified &amp; SQO</label>
        <locationX>182</locationX>
        <locationY>6335</locationY>
        <defaultConnector>
            <targetReference>Opp_Remove_SQO_Checkbox</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes16</name>
            <conditionLogic>1 OR 2 OR 3 OR 4 OR 5 OR 6 OR 7 OR 8</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Closed_Comments__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Ghost</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Closed_Comments__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Ghosted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Closed_Comments__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>no show</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Closed_Comments__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>never showed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Closed_Comments__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>unresponsive</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Closed_Comments__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Did Not Show</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Closed_Comments__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Didn&apos;t&apos; Show</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Closed_Comments__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Not Responsive</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Closed_Disqualified_No_Showtotrue</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opp_Remove_SQO_Checkbox</name>
        <label>Opp Remove SQO Checkbox</label>
        <locationX>182</locationX>
        <locationY>6671</locationY>
        <defaultConnector>
            <targetReference>Opportunity_Closed_Lost</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes17</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SQO__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>SQO</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SQO_Checkbox_Removal</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opportunity_Amount_Has_Changed</name>
        <label>Opportunity Amount Has Changed</label>
        <locationX>182</locationX>
        <locationY>2375</locationY>
        <defaultConnector>
            <targetReference>Closed_Won_Opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes6</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Amount</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opportunity_Amount_Tracked_Field</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opportunity_Closed_Lost</name>
        <label>Opportunity Closed Lost</label>
        <locationX>182</locationX>
        <locationY>7007</locationY>
        <defaultConnector>
            <targetReference>Opportunity_Not_SQO_Disqualified</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes18</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Lost</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Lost__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Lost_Checkbox_to_True</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opportunity_Expedited_Event_Checked</name>
        <label>Opportunity Expedited Event Checked</label>
        <locationX>182</locationX>
        <locationY>1343</locationY>
        <defaultConnector>
            <targetReference>Opportunity_has_moved_from_Solution_to_Proposal</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Expedited_Event__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Expedited_Event_Email_Alert_Sent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Expedited_Event__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_Alert</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opportunity_has_moved_from_Solution_to_Proposal</name>
        <label>Opportunity has moved from Solution to Proposal</label>
        <locationX>182</locationX>
        <locationY>1799</locationY>
        <defaultConnector>
            <targetReference>Opportunity_Amount_Has_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Proposal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_receipient</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opportunity_is_from_Converted_Lead</name>
        <label>Opportunity is from Converted Lead</label>
        <locationX>182</locationX>
        <locationY>671</locationY>
        <defaultConnector>
            <targetReference>Opportunity_Project_Manager_Assigned</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Converted_from_Lead__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity_BDR_Owner_User__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opp_BDR_Owner</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opportunity_Name_is_Populated_Changed</name>
        <label>Opportunity Name is Populated/Changed</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Opportunity_is_from_Converted_Lead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_OEC_Event_Name</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opportunity_Not_SQO_Disqualified</name>
        <label>Opportunity Not SQO/Disqualified</label>
        <locationX>182</locationX>
        <locationY>7343</locationY>
        <defaultConnector>
            <targetReference>Region_AM_Institutional_Business_Clone_Reassignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes19</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>SQO</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed Disqualified</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Business</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Progressing_Opportunity__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Progressing_Opportunity_Checkbox</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opportunity_Project_Manager_Assigned</name>
        <label>Opportunity Project Manager Assigned</label>
        <locationX>182</locationX>
        <locationY>1007</locationY>
        <defaultConnector>
            <targetReference>Opportunity_Expedited_Event_Checked</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Project_Manager__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Project_Manager__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Mail</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Region_AM_Institutional_Business_Clone_Reassignment</name>
        <label>Region AM Institutional Business Clone Reassignment</label>
        <locationX>182</locationX>
        <locationY>7679</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes20</name>
            <conditionLogic>(1 OR 2) AND 3 AND 4 AND 5 AND 6 AND 7 AND 8</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Institutional Business</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Institutional Business</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>*Clone*</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SQO</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Institutional_Regional_AM_Reassignment__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.AMER_AccountManager__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.EMEA_AccountManager__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.APAC_AccountManager__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_AMER_Opp_Owner_Reassignment</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <formulas>
        <name>Contractstartdate</name>
        <dataType>Date</dataType>
        <expression>{!$Record.Contract_Start_Date__c}+365</expression>
    </formulas>
    <formulas>
        <name>DueDateformula</name>
        <dataType>Date</dataType>
        <expression>{!$Record.CloseDate}+ 275</expression>
    </formulas>
    <formulas>
        <name>OppClosedDate</name>
        <dataType>Date</dataType>
        <expression>{!$Record.CloseDate}+365</expression>
    </formulas>
    <formulas>
        <name>OppNamestamp</name>
        <dataType>String</dataType>
        <expression>{!$Record.Account_Name_Stamp__c} &amp;&quot; - &quot;&amp; &quot;Renewal&quot; &amp;&quot; - &quot;&amp; TEXT(YEAR({!$Record.CloseDate} + 365))</expression>
    </formulas>
    <formulas>
        <name>subjectformula</name>
        <dataType>String</dataType>
        <expression>&quot;Action Required! Please review Renewal/Retention Opportunity for &quot;&amp; {!$Record.Account.Name} &amp; &quot;-&quot;&amp; TEXT(YEAR({!$Record.CloseDate}+365))</expression>
    </formulas>
    <interviewLabel>Flow for All Opportunity Processes {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Flow for All Opportunity Processes</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Copy_1_of_Create_Task_for_Renewal_Retention_Opportunity</name>
        <label>Create Task for Renewal/Retention Opportunity</label>
        <locationX>50</locationX>
        <locationY>3743</locationY>
        <connector>
            <targetReference>Expected_Services_Includes_Investor_Days_Earning_Calls_Corporate_Services</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>DueDateformula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Task created after Opportunity being closed won. Please plan/action accordingly!</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>subjectformula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>Copy_1_of_New_Renewal_Retention_Opportunity</name>
        <label>New Renewal/Retention Opportunity</label>
        <locationX>50</locationX>
        <locationY>3623</locationY>
        <connector>
            <targetReference>Copy_1_of_Create_Task_for_Renewal_Retention_Opportunity</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount</field>
            <value>
                <elementReference>$Record.Amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>OppClosedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract_Start_Date__c</field>
            <value>
                <elementReference>Contractstartdate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <stringValue>USD</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Knovio_Term__c</field>
            <value>
                <elementReference>$Record.Knovio_Term__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <elementReference>$Record.LeadSource</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>OppNamestamp</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NextStep</field>
            <value>
                <stringValue>Renewal/Retention Opportunity created after being closed won. Please plan/action accordingly!</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_Subtype__c</field>
            <value>
                <stringValue>Retention</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_Type__c</field>
            <value>
                <stringValue>Existing Business</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>$Record.Pricebook2Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0123w00000224fsAAA</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Region__c</field>
            <value>
                <elementReference>$Record.Region__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Renewal / On Hold</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subscription_Level__c</field>
            <value>
                <elementReference>$Record.Subscription_Level__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Term_Months__c</field>
            <value>
                <elementReference>$Record.Term_Months__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordCreates>
    <recordLookups>
        <name>Get_custom_notification_id</name>
        <label>Get custom notification id</label>
        <locationX>50</locationX>
        <locationY>2039</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_Expected_Services_Review_Notification</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opp_Stage_moved_to_proposal</stringValue>
            </value>
        </filters>
        <object>CustomNotificationType</object>
    </recordLookups>
    <recordUpdates>
        <name>Remove_GCS_Generated_Revenue_Checkbox</name>
        <label>Remove GCS Generated Revenue Checkbox</label>
        <locationX>50</locationX>
        <locationY>4415</locationY>
        <connector>
            <targetReference>Bill_to_Legal_Entity_Populated</targetReference>
        </connector>
        <inputAssignments>
            <field>GCS_Generated_Revenue__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>SQO_Checkbox_Removal</name>
        <label>SQO Checkbox Removal</label>
        <locationX>50</locationX>
        <locationY>6791</locationY>
        <connector>
            <targetReference>Opportunity_Closed_Lost</targetReference>
        </connector>
        <inputAssignments>
            <field>SQO__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_Status_to_Active_Customer</name>
        <label>Update Account Status to Active Customer</label>
        <locationX>50</locationX>
        <locationY>2831</locationY>
        <connector>
            <targetReference>GCS_Closed_Won_Opportunity</targetReference>
        </connector>
        <filters>
            <field>Account_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Active Customer</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Account_Status__c</field>
            <value>
                <stringValue>Active Customer</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Account</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_AMER_Opp_Owner_Reassignment</name>
        <label>Update AMER Opp Owner Reassignment</label>
        <locationX>50</locationX>
        <locationY>7799</locationY>
        <connector>
            <targetReference>Update_EMEA_Opp_Owner_Reassignment</targetReference>
        </connector>
        <filters>
            <field>Region__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AMER</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Institutional_Regional_AM_Reassignment__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Account.AMER_AccountManager__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_APAC_Opp_Owner_Reassignment</name>
        <label>Update APAC Opp Owner Reassignment</label>
        <locationX>50</locationX>
        <locationY>8039</locationY>
        <filters>
            <field>Region__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>APAC</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Institutional_Regional_AM_Reassignment__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Account.APAC_AccountManager__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Billing_Address</name>
        <label>Update Billing Address</label>
        <locationX>50</locationX>
        <locationY>4751</locationY>
        <connector>
            <targetReference>Hybrid_Value_Venue_Populated</targetReference>
        </connector>
        <inputAssignments>
            <field>Billing_Address__City__s</field>
            <value>
                <elementReference>$Record.Bill_To_Legal_Entity_Name__r.BillingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Address__CountryCode__s</field>
            <value>
                <elementReference>$Record.Bill_To_Legal_Entity_Name__r.Billing_Country_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Address__PostalCode__s</field>
            <value>
                <elementReference>$Record.Bill_To_Legal_Entity_Name__r.BillingPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Address__StateCode__s</field>
            <value>
                <elementReference>$Record.Bill_To_Legal_Entity_Name__r.BillingStateCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Address__Street__s</field>
            <value>
                <elementReference>$Record.Bill_To_Legal_Entity_Name__r.BillingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Channel_Agency_Referral_Partner_Tagged_Checkbox</name>
        <label>Update Channel Agency Referral Partner Tagged Checkbox</label>
        <locationX>50</locationX>
        <locationY>5423</locationY>
        <connector>
            <targetReference>Opp_Closed_Disqualified_SQO</targetReference>
        </connector>
        <inputAssignments>
            <field>Channel_Agency_Referral_Partner_Tagged__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Closed_Disqualified_Checkbox</name>
        <label>Update Closed Disqualified Checkbox</label>
        <locationX>50</locationX>
        <locationY>5759</locationY>
        <connector>
            <targetReference>Update_SQO_Checkbox</targetReference>
        </connector>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Disqualified</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Closed_Disqualified__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lost__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Progressing_Opportunity__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Closed_Disqualified_No_Show</name>
        <label>Update Closed Disqualified No-Show</label>
        <locationX>50</locationX>
        <locationY>5999</locationY>
        <connector>
            <targetReference>Update_Closed_Disqualified_No_Show1</targetReference>
        </connector>
        <filters>
            <field>Closed_Disqualified_Reason__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Discovery No-Show</stringValue>
            </value>
        </filters>
        <filters>
            <field>Closed_Disqualified_No_Show__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Closed_Disqualified_No_Show__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Closed_Disqualified_No_Show1</name>
        <label>Update Closed Disqualified No-Show</label>
        <locationX>50</locationX>
        <locationY>6119</locationY>
        <connector>
            <targetReference>Opp_Closed_Disqualified_SQO_closedcomments</targetReference>
        </connector>
        <filters>
            <field>Closed_Disqualified_Reason__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Ghosted/Unreachable</stringValue>
            </value>
        </filters>
        <filters>
            <field>Closed_Disqualified_No_Show__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Closed_Disqualified_No_Show__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Closed_Disqualified_No_Showtotrue</name>
        <label>Update Closed Disqualified No-Show</label>
        <locationX>50</locationX>
        <locationY>6455</locationY>
        <connector>
            <targetReference>Opp_Remove_SQO_Checkbox</targetReference>
        </connector>
        <inputAssignments>
            <field>Closed_Disqualified_No_Show__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_EMEA_Opp_Owner_Reassignment</name>
        <label>Update EMEA Opp Owner Reassignment</label>
        <locationX>50</locationX>
        <locationY>7919</locationY>
        <connector>
            <targetReference>Update_APAC_Opp_Owner_Reassignment</targetReference>
        </connector>
        <filters>
            <field>Region__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>EMEA</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Institutional_Regional_AM_Reassignment__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Account.EMEA_AccountManager__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Expedited_Event_Email_Alert</name>
        <label>Update Expedited Event Email Alert</label>
        <locationX>50</locationX>
        <locationY>1583</locationY>
        <connector>
            <targetReference>Opportunity_has_moved_from_Solution_to_Proposal</targetReference>
        </connector>
        <inputAssignments>
            <field>Expedited_Event_Email_Alert_Sent__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_GCS_Closed_Won_Opp_Flag</name>
        <label>Update GCS Closed Won Opp Flag</label>
        <locationX>50</locationX>
        <locationY>3287</locationY>
        <connector>
            <targetReference>Copy_1_of_Knovio_Renewal_Retention_Opportunity_is_Closed_Won</targetReference>
        </connector>
        <inputAssignments>
            <field>GCS_Closed_Won_Email_Notification__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_GCS_Generated_Checkbox_to_True</name>
        <label>Update GCS Generated Checkbox to True</label>
        <locationX>50</locationX>
        <locationY>4079</locationY>
        <connector>
            <targetReference>Expected_Services_Changes_Investor_Days_or_Corporate_Services</targetReference>
        </connector>
        <inputAssignments>
            <field>GCS_Generated_Revenue__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Lost_Checkbox_to_True</name>
        <label>Update Lost Checkbox to True</label>
        <locationX>50</locationX>
        <locationY>7127</locationY>
        <connector>
            <targetReference>Opportunity_Not_SQO_Disqualified</targetReference>
        </connector>
        <inputAssignments>
            <field>Lost__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_OEC_Event_Name</name>
        <label>Update OEC Event Name</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>Opportunity_is_from_Converted_Lead</targetReference>
        </connector>
        <inputAssignments>
            <field>OEC_Event_Name__c</field>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opp_BDR_Owner</name>
        <label>Update Opp BDR Owner</label>
        <locationX>50</locationX>
        <locationY>791</locationY>
        <connector>
            <targetReference>Opportunity_Project_Manager_Assigned</targetReference>
        </connector>
        <inputAssignments>
            <field>Opportunity_BDR_Owner_User__c</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_Amount_Tracked_Field</name>
        <label>Update Opportunity Amount Tracked Field</label>
        <locationX>50</locationX>
        <locationY>2495</locationY>
        <connector>
            <targetReference>Closed_Won_Opportunity</targetReference>
        </connector>
        <inputAssignments>
            <field>Opportunity_Amount_Tracked__c</field>
            <value>
                <elementReference>$Record.Amount</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Progressing_Opportunity_Checkbox</name>
        <label>Update Progressing Opportunity Checkbox</label>
        <locationX>50</locationX>
        <locationY>7463</locationY>
        <connector>
            <targetReference>Region_AM_Institutional_Business_Clone_Reassignment</targetReference>
        </connector>
        <inputAssignments>
            <field>Progressing_Opportunity__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SQO__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_SQO_Checkbox</name>
        <label>Update SQO Checkbox</label>
        <locationX>50</locationX>
        <locationY>5879</locationY>
        <connector>
            <targetReference>Update_Closed_Disqualified_No_Show</targetReference>
        </connector>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SQO</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Lost__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Progressing_Opportunity__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SQO__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Venue_under_Consideration</name>
        <label>Update Venue under Consideration</label>
        <locationX>50</locationX>
        <locationY>5087</locationY>
        <connector>
            <targetReference>Channel_Agency_Referral_Lookup_Populated</targetReference>
        </connector>
        <inputAssignments>
            <field>Venue__c</field>
            <value>
                <stringValue>a121L00000Cjce1QAB</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <startElementReference>Opportunity_Name_is_Populated_Changed</startElementReference>
    <status>Active</status>
    <variables>
        <name>RecipientsIDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>USEREMAIL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
