cititechdNew2024Jan/force-app/main/default/flows/Lead_Status_Date_Time_Stamp_flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Lead_Status_is_Changed_to_Convert_SQL</name>
        <label>Lead Status is Changed to Convert/SQL</label>
        <locationX>182</locationX>
        <locationY>1679</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Lead_Status_is_Convert_SQL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SQL</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Converted_Date_Time_Stamp</targetReference>
            </connector>
            <label>Lead Status is Convert/SQL</label>
        </rules>
    </decisions>
    <decisions>
        <name>Lead_Status_is_Changed_to_MAL</name>
        <label>Lead Status is Changed to MAL</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Lead_Status_is_Changed_to_MQL</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Lead_Status_is_Changed_to_MAL_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MAL</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_MAL_Date_Time_Stamp</targetReference>
            </connector>
            <label>Lead Status is Changed to MAL Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Lead_Status_is_Changed_to_MQL</name>
        <label>Lead Status is Changed to MQL</label>
        <locationX>182</locationX>
        <locationY>671</locationY>
        <defaultConnector>
            <targetReference>Lead_Status_is_Changed_to_SAL</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Lead_Status_is_Changed_to_MQL_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MQL</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_MQL_Date_Time_Stamp</targetReference>
            </connector>
            <label>Lead Status is Changed to MQL Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Lead_Status_is_Changed_to_Nurture</name>
        <label>Lead Status is Changed to Nurture</label>
        <locationX>182</locationX>
        <locationY>1343</locationY>
        <defaultConnector>
            <targetReference>Lead_Status_is_Changed_to_Convert_SQL</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Lead_Status_is_Nurture</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Nurture</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Nurture_Date_Time_Stamp</targetReference>
            </connector>
            <label>Lead Status is Nurture</label>
        </rules>
    </decisions>
    <decisions>
        <name>Lead_Status_is_Changed_to_SAL</name>
        <label>Lead Status is Changed to SAL</label>
        <locationX>182</locationX>
        <locationY>1007</locationY>
        <defaultConnector>
            <targetReference>Lead_Status_is_Changed_to_Nurture</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Lead_Status_is_SAL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SAL</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_SAL_Date_Time_Stamp</targetReference>
            </connector>
            <label>Lead Status is  SAL</label>
        </rules>
    </decisions>
    <interviewLabel>Lead Status Date/Time Stamp {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead Status Date/Time Stamp flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Converted_Date_Time_Stamp</name>
        <label>Update Converted Date/Time Stamp</label>
        <locationX>50</locationX>
        <locationY>1799</locationY>
        <inputAssignments>
            <field>Converted_Date_Time_Stamp__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_MAL_Date_Time_Stamp</name>
        <label>Update MAL Date/Time Stamp</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>Lead_Status_is_Changed_to_MQL</targetReference>
        </connector>
        <inputAssignments>
            <field>MAL_Date_Time_Stamp__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_MQL_Date_Time_Stamp</name>
        <label>Update MQL Date/Time Stamp</label>
        <locationX>50</locationX>
        <locationY>791</locationY>
        <connector>
            <targetReference>Lead_Status_is_Changed_to_SAL</targetReference>
        </connector>
        <inputAssignments>
            <field>MQL_Date_Time_Stamp__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Nurture_Date_Time_Stamp</name>
        <label>Update Nurture Date/Time Stamp</label>
        <locationX>50</locationX>
        <locationY>1463</locationY>
        <connector>
            <targetReference>Lead_Status_is_Changed_to_Convert_SQL</targetReference>
        </connector>
        <inputAssignments>
            <field>Nurture_Date_Time_Stamp__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_SAL_Date_Time_Stamp</name>
        <label>Update SAL Date/Time Stamp</label>
        <locationX>50</locationX>
        <locationY>1127</locationY>
        <connector>
            <targetReference>Lead_Status_is_Changed_to_Nurture</targetReference>
        </connector>
        <inputAssignments>
            <field>SAL_Date_Time_Stamp__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <startElementReference>Lead_Status_is_Changed_to_MAL</startElementReference>
    <status>Active</status>
</Flow>
