cititechdNew2024Jan/force-app/main/default/flows/Monday_com_Streamlink_Email_Product_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Email_Sent</name>
        <label>Email Sent</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <actionName>Monday_com_Products__c.Workato_Test_Email_Sent</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_Workato_Test_Email_Checkbox</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Yes2</name>
        <label>Email Sent</label>
        <locationX>50</locationX>
        <locationY>911</locationY>
        <actionName>Monday_com_Products__c.Workato_Test_Email_Sent</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Workato_Test_Email_Set_to_True</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <decisions>
        <name>Comprehensive_Streamlink_Package_Product_Added</name>
        <label>Comprehensive Streamlink Package Product Added</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Manual_Comprehensive_Streamlink_Package_Product</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Comprehensive Conference Streaming Package</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Workato_Test_Email_Sent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CreatedDate</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <dateTimeValue>2022-08-11T05:00:00.000Z</dateTimeValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_Sent</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Manual_Comprehensive_Streamlink_Package_Product</name>
        <label>Manual Comprehensive Streamlink Package Product</label>
        <locationX>182</locationX>
        <locationY>791</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Manual_Push_Workato_Test_Email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Manual_Push_Workato_Test_Email__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Workato_Test_Email_Sent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Comprehensive Conference Streaming Package</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Yes2</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <interviewLabel>Monday.com Streamlink Email Product Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Monday.com Streamlink Email Product Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Workato_Test_Email_Checkbox</name>
        <label>Update Workato Test Email Checkbox</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>Manual_Comprehensive_Streamlink_Package_Product</targetReference>
        </connector>
        <inputAssignments>
            <field>Workato_Test_Email_Sent__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Workato_Test_Email_Set_to_True</name>
        <label>Workato Test Email Set to True</label>
        <locationX>50</locationX>
        <locationY>1031</locationY>
        <inputAssignments>
            <field>Workato_Test_Email_Sent__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <startElementReference>Comprehensive_Streamlink_Package_Product_Added</startElementReference>
    <status>Active</status>
</Flow>
