cititechdNew2024Jan/force-app/main/default/flows/Opp_stage_stuck_in_SQO_and_Renewal_opp_is_created.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Copy_1_of_Discovery_Date_Has_Passed</name>
        <label>Discovery Date Has Passed</label>
        <locationX>842</locationX>
        <locationY>408</locationY>
        <actionName>Opportunity.Opportunity_Stuck_in_SQO_Stage_Notification_EMEA_Only</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Copy_2_of_Discovery_Date_has_passed_SQO_Email_Alert</name>
        <label>Discovery Date has passed - SQO Email Alert</label>
        <locationX>314</locationX>
        <locationY>408</locationY>
        <actionName>Opportunity.Opportunity_Stuck_in_SQO_Stage_Notification_AMER_Only</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Copy_3_of_Discovery_Date_has_passed_SQO_Email_Alert</name>
        <label>Discovery Date has passed - SQO Email Alert</label>
        <locationX>1106</locationX>
        <locationY>408</locationY>
        <actionName>Opportunity.Opportunity_Stuck_in_SQO_Stage_Notification_AMER_Only</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Discovery_Date_has_passed_SQO_Email_Alert</name>
        <label>Discovery Date has passed - SQO Email Alert</label>
        <locationX>50</locationX>
        <locationY>408</locationY>
        <actionName>Opportunity.Opportunity_Stuck_in_SQO_Stage_Notification_EMEA_Only</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <decisions>
        <name>Opportunity_Stage_Stuck_in_SQO_EMEA_and_AMER</name>
        <label>Opportunity Stage Stuck in SQO EMEA and AMER</label>
        <locationX>314</locationX>
        <locationY>288</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>send_sqo_email_alert</name>
            <conditionLogic>(1 AND 2 AND 3 AND 4 AND 5) AND (6 OR 7 OR 8)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SQO</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Days_Since_Discovery_Date_Passed__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Discovery_Date__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <dateValue>2001-09-29</dateValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Discovery_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Ghost_Update__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity_Owner_Name_Stamp__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>Christian</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity_Owner_Name_Stamp__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>Dylan</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity_Owner_Name_Stamp__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue> Sophie</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Discovery_Date_has_passed_SQO_Email_Alert</targetReference>
            </connector>
            <label>send sqo email alert EMEA</label>
        </rules>
        <rules>
            <name>send_sqo_email_alert_AMER1</name>
            <conditionLogic>(1 AND 2 AND 3 AND 4 AND 5) AND (6 OR 7 OR 8 OR 9 OR 10 OR 11 OR 12)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SQO</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Days_Since_Discovery_Date_Passed__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Discovery_Date__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <dateValue>2002-09-29</dateValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Discovery_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Ghost_Update__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity_Owner_Name_Stamp__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>Angela</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity_Owner_Name_Stamp__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>Karolyne</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity_Owner_Name_Stamp__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>Julia</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity_Owner_Name_Stamp__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>Brynly</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity_Owner_Name_Stamp__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>Charlie</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity_Owner_Name_Stamp__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>Kayla</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity_Owner_Name_Stamp__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>Kevin</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Discovery_Date_has_passed_SQO_Email_Alert</targetReference>
            </connector>
            <label>send sqo email alert AMER</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opportunity_Stage_Stuck_in_SQO_EMEA_and_AMER1</name>
        <label>Opportunity Stage Stuck in SQO EMEA and AMER</label>
        <locationX>1106</locationX>
        <locationY>288</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_send_sqo_email_alert</name>
            <conditionLogic>(1 AND 2 AND 3 AND 4 AND 5) AND (6 OR 7 OR 8)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SQO</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Days_Since_Discovery_Date_Passed__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Discovery_Date__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <dateValue>2001-09-29</dateValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Discovery_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Ghost_Update__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity_Owner_Name_Stamp__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>Christian</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity_Owner_Name_Stamp__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>Dylan</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity_Owner_Name_Stamp__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue> Sophie</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Discovery_Date_Has_Passed</targetReference>
            </connector>
            <label>send sqo email alert EMEA</label>
        </rules>
        <rules>
            <name>send_sqo_email_alert_AMER</name>
            <conditionLogic>(1 AND 2 AND 3 AND 4 AND 5) AND (6 OR 7 OR 8 OR 9 OR 10 OR 11 OR 12)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SQO</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Days_Since_Discovery_Date_Passed__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Discovery_Date__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <dateValue>2002-09-29</dateValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Discovery_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Ghost_Update__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity_Owner_Name_Stamp__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>Angela</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity_Owner_Name_Stamp__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>Karolyne</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity_Owner_Name_Stamp__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>Julia</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity_Owner_Name_Stamp__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>Brynly</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity_Owner_Name_Stamp__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>Charlie</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity_Owner_Name_Stamp__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>Kayla</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity_Owner_Name_Stamp__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>Kevin</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_3_of_Discovery_Date_has_passed_SQO_Email_Alert</targetReference>
            </connector>
            <label>send sqo email alert AMER</label>
        </rules>
    </decisions>
    <interviewLabel>Flow for opp stage stuck in SQO {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opp stage stuck in SQO</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <startElementReference>Opportunity_Stage_Stuck_in_SQO_EMEA_and_AMER</startElementReference>
    <status>Active</status>
</Flow>
