cititechdNew2024Jan/force-app/main/default/flows/Opportunity_Stage_Date_Time_Stamp.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Closed_Lost_Opportunity</name>
        <label>Closed Lost Opportunity</label>
        <locationX>182</locationX>
        <locationY>671</locationY>
        <defaultConnector>
            <targetReference>SQO_Opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_5_of_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Lost</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Close_Date_Lost</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Closed_Won_Opportunity</name>
        <label>Closed Won Opportunity</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Closed_Lost_Opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_4_of_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Close_Date_Won</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opportunity_Status_Changed_to_Contracting</name>
        <label>Opportunity Status Changed to Contracting</label>
        <locationX>182</locationX>
        <locationY>2687</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_3_of_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contracting</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contracting_Date_Time_Stamp</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opportunity_Status_changed_to_Discovery</name>
        <label>Opportunity Status changed to Discovery</label>
        <locationX>182</locationX>
        <locationY>1343</locationY>
        <defaultConnector>
            <targetReference>Opportunity_Status_changed_to_Solution</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Discovery</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Discovery_Date_Time_Stamp</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opportunity_Status_changed_to_Solution</name>
        <label>Opportunity Status changed to Solution</label>
        <locationX>182</locationX>
        <locationY>1679</locationY>
        <defaultConnector>
            <targetReference>Proposal_Stage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Solution</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Solution_Date_Time_Stamp</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opportunity_Status_Changed_to_Verbal_Confirmation</name>
        <label>Opportunity Status Changed to Verbal Confirmation</label>
        <locationX>182</locationX>
        <locationY>2351</locationY>
        <defaultConnector>
            <targetReference>Opportunity_Status_Changed_to_Contracting</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_2_of_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Verbal Confirmation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Verbal_Confirmation_Date_Time_Stamp</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Proposal_Stage</name>
        <label>Proposal Stage</label>
        <locationX>182</locationX>
        <locationY>2015</locationY>
        <defaultConnector>
            <targetReference>Opportunity_Status_Changed_to_Verbal_Confirmation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_6_of_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Proposal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Proposal_Date_Time</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>SQO_Opportunity</name>
        <label>SQO Opportunity</label>
        <locationX>182</locationX>
        <locationY>1007</locationY>
        <defaultConnector>
            <targetReference>Opportunity_Status_changed_to_Discovery</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_7_of_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SQO</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_SQO</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <interviewLabel>Opportunity Stage Date/Time Stamp {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity Stage Date/Time Stamp</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Close_Date_Lost</name>
        <label>Update Close Date Lost</label>
        <locationX>50</locationX>
        <locationY>791</locationY>
        <connector>
            <targetReference>SQO_Opportunity</targetReference>
        </connector>
        <inputAssignments>
            <field>Actual_Closed_Lost_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Close_Date_Won</name>
        <label>Update Close Date Won</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>Closed_Lost_Opportunity</targetReference>
        </connector>
        <inputAssignments>
            <field>Actual_Closed_Won_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contracting_Date_Time_Stamp</name>
        <label>Update Contracting Date/Time Stamp</label>
        <locationX>50</locationX>
        <locationY>2807</locationY>
        <inputAssignments>
            <field>Contracting_Date_Time_Stamp__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Discovery_Date_Time_Stamp</name>
        <label>Update Discovery Date/Time Stamp</label>
        <locationX>50</locationX>
        <locationY>1463</locationY>
        <connector>
            <targetReference>Opportunity_Status_changed_to_Solution</targetReference>
        </connector>
        <inputAssignments>
            <field>Discovery_Date_Time_Stamp__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Proposal_Date_Time</name>
        <label>Update Proposal Date/Time</label>
        <locationX>50</locationX>
        <locationY>2135</locationY>
        <connector>
            <targetReference>Opportunity_Status_Changed_to_Verbal_Confirmation</targetReference>
        </connector>
        <inputAssignments>
            <field>Proposal_Date_Time_Stamp__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Solution_Date_Time_Stamp</name>
        <label>Update Solution Date/Time Stamp</label>
        <locationX>50</locationX>
        <locationY>1799</locationY>
        <connector>
            <targetReference>Proposal_Stage</targetReference>
        </connector>
        <inputAssignments>
            <field>Solution_Date_Time_Stamp__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_SQO</name>
        <label>Update SQO</label>
        <locationX>50</locationX>
        <locationY>1127</locationY>
        <connector>
            <targetReference>Opportunity_Status_changed_to_Discovery</targetReference>
        </connector>
        <inputAssignments>
            <field>SQO_Date_Time_Stamp__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Verbal_Confirmation_Date_Time_Stamp</name>
        <label>Update Verbal Confirmation Date/Time Stamp</label>
        <locationX>50</locationX>
        <locationY>2471</locationY>
        <connector>
            <targetReference>Opportunity_Status_Changed_to_Contracting</targetReference>
        </connector>
        <inputAssignments>
            <field>Verbal_Confirmation_Date_Time_Stamp__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <startElementReference>Closed_Won_Opportunity</startElementReference>
    <status>Active</status>
</Flow>
