cititechdNew2024Jan/force-app/main/default/flows/Order_Products_Bundle_Packages_Logic.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Add_On_Products_w_Package_Bundle_Created</name>
        <label>Add-On Products w/ Package Bundle Created</label>
        <locationX>182</locationX>
        <locationY>2591</locationY>
        <defaultConnector>
            <targetReference>On_Site_Order_Product_Added</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PricebookEntry.Price_Book_Entry_Included_in_Package__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Converted_Product_from_Opportunity__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PricebookEntry.Price_Book_Entry_Description__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>Add-On</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CreatedBy.LastName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Garrigan</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Order.Account.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>MessageBank, LLC.</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Order.Order_Source__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue> Partner</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Add_On_Products</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Included_Products_w_Package_Bundle_Created</name>
        <label>Included Products w/ Package Bundle Created</label>
        <locationX>182</locationX>
        <locationY>1679</locationY>
        <defaultConnector>
            <targetReference>Projected_Quantity_Future_Estimate_Change</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PricebookEntry.Price_Book_Entry_Included_in_Package__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Converted_Product_from_Opportunity__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PricebookEntry.Price_Book_Entry_Description__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>Included</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Order.CreatedBy.LastName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Garrigan</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Order.Account.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>MessageBank, LLC.</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Order.Order_Source__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue> Partner</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Updated_Included_Order_Products</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Month_Recognized_by_Quarter_1_Logic</name>
        <label>Month Recognized by Quarter 1 Logic</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Month_Recognized_by_Quarter_2_Logic</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes9</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Month_Recognized__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Future Estimate</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Order.Start_Date__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <dateValue>2023-01-01</dateValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Order.Start_Date__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <dateValue>2023-03-31</dateValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Month_Recognized_by_Quarter</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Month_Recognized_by_Quarter_2_Logic</name>
        <label>Month Recognized by Quarter 2 Logic</label>
        <locationX>182</locationX>
        <locationY>671</locationY>
        <defaultConnector>
            <targetReference>Month_Recognized_by_Quarter_3_Logic</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Month_Recognized__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Future Estimate</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Order.Start_Date__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <dateValue>2023-04-01</dateValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Order.Start_Date__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <dateValue>2023-06-30</dateValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Month_Recognized_by_Quarter2</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Month_Recognized_by_Quarter_3_Logic</name>
        <label>Month Recognized by Quarter 3 Logic</label>
        <locationX>182</locationX>
        <locationY>1007</locationY>
        <defaultConnector>
            <targetReference>Month_Recognized_by_Quarter_4_Logic</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Copy_2_of_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Month_Recognized__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Future Estimate</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Order.Start_Date__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <dateValue>2023-07-01</dateValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Order.Start_Date__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <dateValue>2023-09-30</dateValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Update_Month_Recognized_by_Quarter</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Month_Recognized_by_Quarter_4_Logic</name>
        <label>Month Recognized by Quarter 4 Logic</label>
        <locationX>182</locationX>
        <locationY>1343</locationY>
        <defaultConnector>
            <targetReference>Included_Products_w_Package_Bundle_Created</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Copy_3_of_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Month_Recognized__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Future Estimate</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Order.Start_Date__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <dateValue>2023-10-01</dateValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Order.Start_Date__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <dateValue>2023-12-31</dateValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Update_Month_Recognized_by_Quarter</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>On_Site_Order_Product_Added</name>
        <label>On-Site Order Product Added</label>
        <locationX>182</locationX>
        <locationY>3047</locationY>
        <defaultConnector>
            <targetReference>Veracast_Order_Product_Added</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PricebookEntry.On_Site__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.On_Site__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Updating_On_Site_to_1</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Projected_Quantity_Future_Estimate_Change</name>
        <label>Projected Quantity/Future Estimate Change</label>
        <locationX>182</locationX>
        <locationY>2135</locationY>
        <defaultConnector>
            <targetReference>Add_On_Products_w_Package_Bundle_Created</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes1</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Projected_Quantity__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Projected_Quantity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Future_Estimate_Projection_Stamp</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Veracast_Order_Product_Added</name>
        <label>Veracast Order Product Added</label>
        <locationX>182</locationX>
        <locationY>3383</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PricebookEntry.Veracast_Product__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Veracast__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Updating_Veracast_to_1</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <formulas>
        <name>priorprojectedquantity</name>
        <dataType>Number</dataType>
        <expression>PRIORVALUE({!$Record.Projected_Quantity__c})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>priorprojectedtotalprice</name>
        <dataType>Number</dataType>
        <expression>PRIORVALUE({!$Record.Projected_Total_Price__c})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>projectedtotalprice</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Projected_Quantity__c}*{!$Record.UnitPrice}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>totalproducteffortscore</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Quantity}*{!$Record.Product_Effort_Score__c}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Order Products + Bundle Packages Logic {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Order Products + Bundle Packages Logic</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Copy_1_of_Update_Month_Recognized_by_Quarter</name>
        <label>Update Month Recognized by Quarter</label>
        <locationX>50</locationX>
        <locationY>1127</locationY>
        <connector>
            <targetReference>Month_Recognized_by_Quarter_4_Logic</targetReference>
        </connector>
        <inputAssignments>
            <field>Month_Recognized__c</field>
            <value>
                <stringValue>Future Estimate Q3</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Updated_Included_Order_Products</name>
        <label>Updated Included Order Products</label>
        <locationX>50</locationX>
        <locationY>1919</locationY>
        <connector>
            <targetReference>Projected_Quantity_Future_Estimate_Change</targetReference>
        </connector>
        <filters>
            <field>Description</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Included_Product_Bundle_Price_Exception__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_2_of_Update_Month_Recognized_by_Quarter</name>
        <label>Update Month Recognized by Quarter</label>
        <locationX>50</locationX>
        <locationY>1463</locationY>
        <connector>
            <targetReference>Included_Products_w_Package_Bundle_Created</targetReference>
        </connector>
        <inputAssignments>
            <field>Month_Recognized__c</field>
            <value>
                <stringValue>Future Estimate Q4</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Add_On_Products</name>
        <label>Update Add-On Products</label>
        <locationX>50</locationX>
        <locationY>2711</locationY>
        <connector>
            <targetReference>Update_Add_On_Products2</targetReference>
        </connector>
        <filters>
            <field>Description</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Add_On_Products2</name>
        <label>Update Add-On Products</label>
        <locationX>50</locationX>
        <locationY>2831</locationY>
        <connector>
            <targetReference>On_Site_Order_Product_Added</targetReference>
        </connector>
        <filters>
            <field>Description</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Add-Ons to Package - Converted from Opportunity</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Future_Estimate_Projection_Stamp</name>
        <label>Update Future Estimate Projection Stamp</label>
        <locationX>50</locationX>
        <locationY>2255</locationY>
        <connector>
            <targetReference>Update_Prior_Projected_Quantity</targetReference>
        </connector>
        <filters>
            <field>Future_Estimate_Projection_Stamp__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Future_Estimate_Projection_Stamp__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Month_Recognized_by_Quarter</name>
        <label>Update Month Recognized by Quarter</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>Month_Recognized_by_Quarter_2_Logic</targetReference>
        </connector>
        <inputAssignments>
            <field>Month_Recognized__c</field>
            <value>
                <stringValue>Future Estimate Q1</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Month_Recognized_by_Quarter2</name>
        <label>Update Month Recognized by Quarter</label>
        <locationX>50</locationX>
        <locationY>791</locationY>
        <connector>
            <targetReference>Month_Recognized_by_Quarter_3_Logic</targetReference>
        </connector>
        <inputAssignments>
            <field>Month_Recognized__c</field>
            <value>
                <stringValue>Future Estimate Q2</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Prior_Projected_Quantity</name>
        <label>Update Prior Projected Quantity</label>
        <locationX>50</locationX>
        <locationY>2375</locationY>
        <connector>
            <targetReference>Add_On_Products_w_Package_Bundle_Created</targetReference>
        </connector>
        <inputAssignments>
            <field>Prior_Projected_Quantity__c</field>
            <value>
                <elementReference>priorprojectedquantity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Prior_Projected_Total_Price__c</field>
            <value>
                <elementReference>priorprojectedtotalprice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Projected_Total_Price__c</field>
            <value>
                <elementReference>projectedtotalprice</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Updated_Included_Order_Products</name>
        <label>Updated Included Order Products</label>
        <locationX>50</locationX>
        <locationY>1799</locationY>
        <connector>
            <targetReference>Copy_1_of_Updated_Included_Order_Products</targetReference>
        </connector>
        <filters>
            <field>Description</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Included_Product_Bundle_Price_Exception__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Included in Package - Converted from Opportunity</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Updating_On_Site_to_1</name>
        <label>Updating On-Site to 1</label>
        <locationX>50</locationX>
        <locationY>3167</locationY>
        <connector>
            <targetReference>Veracast_Order_Product_Added</targetReference>
        </connector>
        <inputAssignments>
            <field>On_Site__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Updating_Veracast_to_1</name>
        <label>Updating Veracast to 1</label>
        <locationX>50</locationX>
        <locationY>3503</locationY>
        <inputAssignments>
            <field>Veracast__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <startElementReference>Month_Recognized_by_Quarter_1_Logic</startElementReference>
    <status>Active</status>
</Flow>
