cititechdNew2024Jan/force-app/main/default/flows/Order_Date_Time_Stamp_Updates.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Order_Status_is_changed_to_Awaiting_Confirmation</name>
        <label>Order Status is changed to Awaiting Confirmation</label>
        <locationX>182</locationX>
        <locationY>1007</locationY>
        <defaultConnector>
            <targetReference>Order_status_is_changed_to_Confirmed_On_Hold</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Copy_2_of_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Awaiting Confirmation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Date_Time_Awaiting_Confirmation</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Order_status_is_changed_to_Cancelled</name>
        <label>Order status is changed to Cancelled</label>
        <locationX>182</locationX>
        <locationY>2687</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Copy_7_of_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Date_Time_Status_for_Cancelled</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Order_status_is_changed_to_Confirmed_On_Hold</name>
        <label>Order status is changed to Confirmed / On Hold</label>
        <locationX>182</locationX>
        <locationY>1343</locationY>
        <defaultConnector>
            <targetReference>Order_status_is_changed_to_Ready_to_Bill</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Copy_3_of_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Client Confirmed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Date_Time_Client_Confirmed_Date</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Order_status_is_changed_to_Delivered</name>
        <label>Order status is changed to Delivered</label>
        <locationX>182</locationX>
        <locationY>671</locationY>
        <defaultConnector>
            <targetReference>Order_Status_is_changed_to_Awaiting_Confirmation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Delivered</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Date_Time_Stamp</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Order_Status_is_changed_to_In_Progress</name>
        <label>Order Status is changed to In Progress</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Order_status_is_changed_to_Delivered</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Progress</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Date_Time_In_Progress</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Order_status_is_changed_to_Invoice_Sent</name>
        <label>Order status is changed to Invoice Sent</label>
        <locationX>182</locationX>
        <locationY>2015</locationY>
        <defaultConnector>
            <targetReference>Order_status_is_changed_to_Paid</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Copy_5_of_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Invoice Sent</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Update_Date_Time_Stamp</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Order_status_is_changed_to_Paid</name>
        <label>Order status is changed to Paid</label>
        <locationX>182</locationX>
        <locationY>2351</locationY>
        <defaultConnector>
            <targetReference>Order_status_is_changed_to_Cancelled</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Copy_6_of_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Paid</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Date_Time_Stamp_copy</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Order_status_is_changed_to_Ready_to_Bill</name>
        <label>Order status is changed to Ready to Bill</label>
        <locationX>182</locationX>
        <locationY>1679</locationY>
        <defaultConnector>
            <targetReference>Order_status_is_changed_to_Invoice_Sent</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Copy_4_of_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ready to Bill</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Update_Date_Time_Awaiting_Confirmation</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <interviewLabel>Order Date/Time Stamp Updates {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Order Date/Time Stamp Updates</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Copy_1_of_Update_Date_Time_Stamp</name>
        <label>Update Date/Time Stamp</label>
        <locationX>50</locationX>
        <locationY>2135</locationY>
        <connector>
            <targetReference>Order_status_is_changed_to_Paid</targetReference>
        </connector>
        <inputAssignments>
            <field>Invoice_Sent_Date_Time_Stamp__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_2_of_Update_Date_Time_Awaiting_Confirmation</name>
        <label>Update Date/Time Stamp</label>
        <locationX>50</locationX>
        <locationY>1799</locationY>
        <connector>
            <targetReference>Order_status_is_changed_to_Invoice_Sent</targetReference>
        </connector>
        <inputAssignments>
            <field>Ready_to_Bill_Date_Time_Stamp__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Date_Time_Awaiting_Confirmation</name>
        <label>Update Date/Time Awaiting Confirmation</label>
        <locationX>50</locationX>
        <locationY>1127</locationY>
        <connector>
            <targetReference>Order_status_is_changed_to_Confirmed_On_Hold</targetReference>
        </connector>
        <inputAssignments>
            <field>Awaiting_Confirmation_Date_Time_Stamp__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Date_Time_Client_Confirmed_Date</name>
        <label>Update Date/Time Client Confirmed Date</label>
        <locationX>50</locationX>
        <locationY>1463</locationY>
        <connector>
            <targetReference>Order_status_is_changed_to_Ready_to_Bill</targetReference>
        </connector>
        <inputAssignments>
            <field>Client_Confirmed_Date_Time_Stamp__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Date_Time_In_Progress</name>
        <label>Update Date/Time In Progress</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>Order_status_is_changed_to_Delivered</targetReference>
        </connector>
        <inputAssignments>
            <field>In_Progress_Date_Time_Stamp__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Date_Time_Stamp</name>
        <label>Update Date/Time Stamp</label>
        <locationX>50</locationX>
        <locationY>791</locationY>
        <connector>
            <targetReference>Order_Status_is_changed_to_Awaiting_Confirmation</targetReference>
        </connector>
        <inputAssignments>
            <field>Delivered_Date_Time_Stamp__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Date_Time_Stamp_copy</name>
        <label>Update Date/Time Stamp</label>
        <locationX>50</locationX>
        <locationY>2471</locationY>
        <connector>
            <targetReference>Order_status_is_changed_to_Cancelled</targetReference>
        </connector>
        <inputAssignments>
            <field>Paid_Date_Time_Stamp__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Date_Time_Status_for_Cancelled</name>
        <label>Update Date/Time Status for Cancelled</label>
        <locationX>50</locationX>
        <locationY>2807</locationY>
        <inputAssignments>
            <field>Cancelled_Date_Time_Stamp__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <startElementReference>Order_Status_is_changed_to_In_Progress</startElementReference>
    <status>Active</status>
</Flow>
