cititechdNew2024Jan/force-app/main/default/flows/Send_Email_on_Status_Blank_and_End_Date_Reached.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Event_reached_end_date</name>
        <label>Event reached end date</label>
        <locationX>264</locationX>
        <locationY>636</locationY>
        <actionName>Event.Event_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>update_Event_Reached_End_Date</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>CurrentEventId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>Assign_Current_Event_Id</name>
        <label>Assign Current Event Id</label>
        <locationX>264</locationX>
        <locationY>516</locationY>
        <assignmentItems>
            <assignToReference>CurrentEventId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Events_with_Blank_Status.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Event_reached_end_date</targetReference>
        </connector>
    </assignments>
    <description>Added in Megan to recipient</description>
    <interviewLabel>Send Email on Status Blank and End Date Reached {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send Email on Status Blank and End Date Reached</label>
    <loops>
        <name>Events_with_Blank_Status</name>
        <label>Events with Blank Status</label>
        <locationX>176</locationX>
        <locationY>396</locationY>
        <collectionReference>Events_with_Blank_Status_and_End_date_LT_today_and_Type_Discovey</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Current_Event_Id</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Events_with_Blank_Status_and_End_date_LT_today_and_Type_Discovey</name>
        <label>Events with Blank Status and End date LT today and Type Discovey</label>
        <locationX>176</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Events_with_Blank_Status</targetReference>
        </connector>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Discovery</stringValue>
            </value>
        </filters>
        <filters>
            <field>Event_Status__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>EndDate</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </filters>
        <filters>
            <field>Event_Reached_End_Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Event</object>
    </recordLookups>
    <recordUpdates>
        <name>update_Event_Reached_End_Date</name>
        <label>update Event Reached End Date</label>
        <locationX>264</locationX>
        <locationY>756</locationY>
        <connector>
            <targetReference>Events_with_Blank_Status</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Events_with_Blank_Status.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Event_Reached_End_Date__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Event</object>
    </recordUpdates>
    <startElementReference>Events_with_Blank_Status_and_End_date_LT_today_and_Type_Discovey</startElementReference>
    <status>Active</status>
    <variables>
        <name>CurrentDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>$Flow.CurrentDate</elementReference>
        </value>
    </variables>
    <variables>
        <name>CurrentEventId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
