cititechdNew2024Jan/force-app/main/default/flows/TaggedMmbers.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Assign_the_OpportunityId_to_Variable</name>
        <label>Assign the OpportunityId to Variable</label>
        <locationX>547</locationX>
        <locationY>107</locationY>
        <assignmentItems>
            <assignToReference>OpportuniTYID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OpportunityId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>opportunityTeamMembers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CounterAssignment</name>
        <label>CounterAssignment</label>
        <locationX>1145</locationX>
        <locationY>424</locationY>
        <assignmentItems>
            <assignToReference>LoopCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>OpportunityTeamMemberLoop</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>IfCounterIsZero</name>
        <label>IfCounterIsZero</label>
        <locationX>803</locationX>
        <locationY>395</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopCounter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateOpportunity</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Opportunity Team Member Flow</description>
    <interviewLabel>TaggedMmbers {!$Flow.CurrentDateTime}</interviewLabel>
    <label>OpportunityTeamTaggedMmbers</label>
    <loops>
        <name>OpportunityTeamMemberLoop</name>
        <label>OpportunityTeamMemberLoop</label>
        <locationX>1142</locationX>
        <locationY>123</locationY>
        <collectionReference>opportunityTeamMembers</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CounterAssignment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>IfCounterIsZero</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Find all Team members of the Parent Opportunity</description>
        <name>opportunityTeamMembers</name>
        <label>opportunityTeamMembers</label>
        <locationX>793</locationX>
        <locationY>106</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>OpportunityTeamMemberLoop</targetReference>
        </connector>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportuniTYID</elementReference>
            </value>
        </filters>
        <object>OpportunityTeamMember</object>
    </recordLookups>
    <recordUpdates>
        <name>UpdateOpportunity</name>
        <label>UpdateOpportunity</label>
        <locationX>537</locationX>
        <locationY>422</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportuniTYID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Opportunity_Team_Members_Tagged__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <startElementReference>Assign_the_OpportunityId_to_Variable</startElementReference>
    <status>Active</status>
    <variables>
        <name>LoopCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <description>OpportunityID of the Opportunity Team member record</description>
        <name>OpportuniTYID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
