cititechdNew2024Jan/force-app/main/default/flows/Update_Monday_com_Product_Fields_on_Create.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Update_Basic_Meetings</name>
        <label>Update Basic Meetings</label>
        <locationX>575</locationX>
        <locationY>288</locationY>
        <assignmentItems>
            <assignToReference>MondaycomIntegrationObject.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Monday_com_Integration__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TotalofBasicMeetings</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop.Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Basic_Meetings_0</name>
        <label>Update Enhanced Meetings</label>
        <locationX>362</locationX>
        <locationY>434</locationY>
        <assignmentItems>
            <assignToReference>MondaycomIntegrationObject.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Monday_com_Integration__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TotalofEnhancedMeetings</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop.Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Basic_Meetings_0_0</name>
        <label>Update Live Meetings</label>
        <locationX>562</locationX>
        <locationY>858</locationY>
        <assignmentItems>
            <assignToReference>MondaycomIntegrationObject.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Monday_com_Integration__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TotalofLiveMeetings</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop.Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Basic_Meetings_0_0_0</name>
        <label>Update Webinar</label>
        <locationX>1121</locationX>
        <locationY>862</locationY>
        <assignmentItems>
            <assignToReference>MondaycomIntegrationObject.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Monday_com_Integration__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TotalofWebinarMeetings</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop.Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Basic_Meetings_0_0_0_0</name>
        <label>Update Moderated</label>
        <locationX>978</locationX>
        <locationY>862</locationY>
        <assignmentItems>
            <assignToReference>MondaycomIntegrationObject.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Monday_com_Integration__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TotalofModeratedMeetings</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop.Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Basic_Meetings_0_0_0_0_0</name>
        <label>Update Showcase Basic</label>
        <locationX>1410</locationX>
        <locationY>683</locationY>
        <assignmentItems>
            <assignToReference>MondaycomIntegrationObject.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Monday_com_Integration__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TotalofShowcaseBasics</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop.Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Basic_Meetings_0_0_0_0_0_0</name>
        <label>Update Showcase Enhanced</label>
        <locationX>1085</locationX>
        <locationY>294</locationY>
        <assignmentItems>
            <assignToReference>MondaycomIntegrationObject.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Monday_com_Integration__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TotalofShowcaseEnhanced</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop.Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Basic_Meetings_0_0_0_0_0_0_0</name>
        <label>Update Transcriptions</label>
        <locationX>1412</locationX>
        <locationY>422</locationY>
        <assignmentItems>
            <assignToReference>MondaycomIntegrationObject.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Monday_com_Integration__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TotalofTranscriptions</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop.Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Monday_com_Integration_Record</name>
        <label>Update Monday.com Integration Record</label>
        <locationX>1378</locationX>
        <locationY>20</locationY>
        <assignmentItems>
            <assignToReference>MondaycomIntegrationObject.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Monday_com_Integration__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MondaycomIntegrationObject.Number_of_Basic_Meetings__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TotalofBasicMeetings</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MondaycomIntegrationObject.Number_of_Enhanced_Meetings__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TotalofEnhancedMeetings</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MondaycomIntegrationObject.Number_of_Moderated_Meetings__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TotalofModeratedMeetings</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MondaycomIntegrationObject.Number_of_OE_Live_Meetings__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TotalofLiveMeetings</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MondaycomIntegrationObject.Number_of_Webinar_Meetings__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TotalofWebinarMeetings</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MondaycomIntegrationObject.Number_of_Showcase_Basics__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TotalofShowcaseBasics</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MondaycomIntegrationObject.Number_of_Showcase_Enhanced__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TotalofShowcaseEnhanced</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MondaycomIntegrationObject.Number_of_Standard_Transcriptions__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TotalofTranscriptions</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Monday_com_Product_Quantity_fields</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>BasicMeetings</name>
        <dataType>String</dataType>
        <value>
            <stringValue>01t3w000006H0jjAAC</stringValue>
        </value>
    </constants>
    <constants>
        <name>EnhancedMeetings</name>
        <dataType>String</dataType>
        <value>
            <stringValue>01t3w000006H0jfAAC</stringValue>
        </value>
    </constants>
    <constants>
        <name>LiveMeetings</name>
        <dataType>String</dataType>
        <value>
            <stringValue>01t3w000006H0jtAAC</stringValue>
        </value>
    </constants>
    <constants>
        <name>ModeratedMeetings</name>
        <dataType>String</dataType>
        <value>
            <stringValue>01t3w000006H2VCAA0</stringValue>
        </value>
    </constants>
    <constants>
        <name>ShowcaseBasic</name>
        <dataType>String</dataType>
        <value>
            <stringValue>01t3w000006H2VbAAK</stringValue>
        </value>
    </constants>
    <constants>
        <name>ShowcaseEnhanced</name>
        <dataType>String</dataType>
        <value>
            <stringValue>01t3w000006H0jaAAC</stringValue>
        </value>
    </constants>
    <constants>
        <name>Transcriptions</name>
        <dataType>String</dataType>
        <value>
            <stringValue>01t3w000006H0k3AAC</stringValue>
        </value>
    </constants>
    <constants>
        <name>WebinarMeetings</name>
        <dataType>String</dataType>
        <value>
            <stringValue>01t3w000006H0jgAAC</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Order_Products_Deleted_from_Order</name>
        <label>Order Products Deleted from Order</label>
        <locationX>506</locationX>
        <locationY>77</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Showcase_Enhanced</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product__r.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>BasicMeetings</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Product__r.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>EnhancedMeetings</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Product__r.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>LiveMeetings</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Product__r.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ModeratedMeetings</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Product__r.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>WebinarMeetings</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Product__r.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ShowcaseBasic</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Product__r.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ShowcaseEnhanced</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Product__r.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Transcriptions</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>List_of_Monday_com_Products</targetReference>
            </connector>
            <label>List of Products</label>
        </rules>
    </decisions>
    <decisions>
        <name>Order_Products_Deleted_from_Order_0</name>
        <label>Order Products Deleted from Order</label>
        <locationX>879</locationX>
        <locationY>573</locationY>
        <defaultConnector>
            <targetReference>Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Basic_Meetings_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product__r.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>BasicMeetings</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Basic_Meetings</targetReference>
            </connector>
            <label>Basic Meetings</label>
        </rules>
        <rules>
            <name>Enhanced_Meetings_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product__r.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>EnhancedMeetings</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Basic_Meetings_0</targetReference>
            </connector>
            <label>Enhanced Meetings</label>
        </rules>
        <rules>
            <name>Moderated_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product__r.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ModeratedMeetings</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Basic_Meetings_0_0_0_0</targetReference>
            </connector>
            <label>Moderated</label>
        </rules>
        <rules>
            <name>Live_Meetings_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product__r.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>LiveMeetings</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Basic_Meetings_0_0</targetReference>
            </connector>
            <label>Live Meetings</label>
        </rules>
        <rules>
            <name>Webinar_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product__r.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>WebinarMeetings</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Basic_Meetings_0_0_0</targetReference>
            </connector>
            <label>Webinar</label>
        </rules>
        <rules>
            <name>Showcase_Basic_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product__r.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ShowcaseBasic</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Basic_Meetings_0_0_0_0_0</targetReference>
            </connector>
            <label>Showcase Basic</label>
        </rules>
        <rules>
            <name>Showcase_Enhanced_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product__r.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ShowcaseEnhanced</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Basic_Meetings_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Showcase Enhanced</label>
        </rules>
        <rules>
            <name>Transcriptions1_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product__r.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Transcriptions</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Basic_Meetings_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Transcriptions</label>
        </rules>
    </decisions>
    <interviewLabel>Update Monday.com Product Fields on Create {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Monday.com Product Fields on Create</label>
    <loops>
        <name>Loop</name>
        <label>Loop</label>
        <locationX>850</locationX>
        <locationY>124</locationY>
        <collectionReference>List_of_Monday_com_Products</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Order_Products_Deleted_from_Order_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Monday_com_Integration_Record</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>List_of_Monday_com_Products</name>
        <label>List of Monday.com Products</label>
        <locationX>706</locationX>
        <locationY>122</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop</targetReference>
        </connector>
        <filters>
            <field>Monday_com_Integration__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Monday_com_Integration__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Monday_com_Integration__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TestID</elementReference>
            </value>
        </filters>
        <object>Monday_com_Products__c</object>
    </recordLookups>
    <recordUpdates>
        <name>Update_Monday_com_Product_Quantity_fields</name>
        <label>Update Monday.com Product Quantity fields</label>
        <locationX>1647</locationX>
        <locationY>198</locationY>
        <inputReference>MondaycomIntegrationObject</inputReference>
    </recordUpdates>
    <startElementReference>Order_Products_Deleted_from_Order</startElementReference>
    <status>Draft</status>
    <variables>
        <name>MondaycomIntegrationObject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Monday_com_Integration__c</objectType>
    </variables>
    <variables>
        <name>TestID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TotalofBasicMeetings</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>TotalofEnhancedMeetings</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>TotalofLiveMeetings</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>TotalofModeratedMeetings</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>TotalofShowcaseBasics</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>TotalofShowcaseEnhanced</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>TotalofTranscriptions</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>TotalofWebinarMeetings</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
