cititechdNew2024Jan/force-app/main/default/flows/Vendor_Assessment_Completed.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Vendor_Assessment_Completed</name>
        <label>Send Vendor Assessment Completed</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <actionName>Vendor_Assessment__c.Vendor_Assessment_Completed</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <decisions>
        <name>Vendor_Assessment_Completed</name>
        <label>Vendor Assessment Completed</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Complete</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Vendor_Assessment_Complete__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Vendor_Assessment_Completed_Checkbox</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <interviewLabel>Vendor Assessment Complete Email {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Vendor Assessment Completed</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Vendor_Assessment_Completed_Checkbox</name>
        <label>Update Vendor Assessment Completed Checkbox</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>Send_Vendor_Assessment_Completed</targetReference>
        </connector>
        <inputAssignments>
            <field>Vendor_Assessment_Complete__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <startElementReference>Vendor_Assessment_Completed</startElementReference>
    <status>Active</status>
</Flow>
